workflows/galanta-newsletter-formulario/jxXlyIaltUir5Lz7.json
{
  "": "",
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML - 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML - 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML - 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML - 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - 1": {
      "main": [
        []
      ]
    },
    "HTML - 2": {
      "main": [
        []
      ]
    },
    "HTML - 3": {
      "main": [
        []
      ]
    },
    "HTML - 4": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T18:54:34.706Z",
  "id": "jxXlyIaltUir5Lz7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "galanta-newsletter-formulario",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-clube-coracao",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -32
      ],
      "id": "98f11872-2ea3-4b6e-900d-6ebd5883ee52",
      "name": "Webhook",
      "webhookId": "54fb9b97-7bb3-4c70-80f6-fe0636e9276c"
    },
    {
      "parameters": {
        "fromEmail": "sac@clubecoracao.com.br",
        "toEmail": "={{ $('Edit Fields').item.json.email }}",
        "subject": "=Agradecemos seu contato, {{ $('Edit Fields').item.json.nome }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        608,
        -96
      ],
      "id": "e8a4c2dd-bf80-457d-9b83-6fec88ea431b",
      "name": "Send email",
      "webhookId": "163f3671-abc5-4085-96ab-e061dc5ed7b5",
      "credentials": {
        "smtp": {
          "id": "fZJbSsP3UfbIRLTB",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0dc7f71-4b55-4051-89b1-33bf452b906d",
              "name": "nome",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "380523d4-8448-4fe3-b367-54dae226775f",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "9ef0d045-bc00-4dce-bf37-55314bb5e5c5",
              "name": "telefone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "e17bb310-c50a-4e94-a181-7d93437f7ad6",
              "name": "mensagem",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -32
      ],
      "id": "6d813c21-94a0-49fa-a5f9-f52873647053",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>   \n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Newsletter - Clube Coração</title>\n  <style>\n    /* Webfont declarations for Conthrax (italic variants) */\n    @font-face {\n      font-family: \"Conthrax\";\n      font-style: italic;\n      font-weight: 600;\n      src: url(\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/Conthrax_SemiBold_Italic.woff2?v=1761330068\") format(\"woff2\");\n    }\n    @font-face {\n      font-family: \"Conthrax\";\n      font-style: italic;\n      font-weight: 400;\n      src: url(\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/Conthrax_Book_Italic.woff2?v=1761330068\") format(\"woff2\");\n    }\n\n    /* Utility class to apply Conthrax where desired. Keep reliable fallbacks for email clients. */\n    .conthrax {\n      font-family: \"Conthrax\", \"Helvetica Neue\", Arial, sans-serif;\n      font-style: normal; /* the provided font files are italic */\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background:#ffffff;font-family:Arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;\">\n  <!-- White page background; central card uses gray background to match request -->\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"min-width:100%;background:#ffffff;\">\n    <tr>\n      <td align=\"center\">\n        <!-- Centering table containing the content, card now shares the same gray background -->\n        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:980px;margin:0 auto;\">\n          <tr>\n            <td align=\"center\" style=\"padding:40px 0;\">\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" style=\"width:680px;max-width:100%;background:#e9ecef;border-radius:14px;overflow:hidden;border:1px solid rgba(0,0,0,0.04);box-shadow:0 10px 30px rgba(0,0,0,0.06);\">\n\n                <!-- Header with logo (inside gray card) -->\n                <tr>\n                  <td style=\"padding:38px 0;text-align:center;background:#e9ecef;border-bottom:6px solid #a67c39;\">\n                    <img src=\"https://clube-coracao.myshopify.com/cdn/shop/t/2/assets/logo-clube-coracao.svg?v=170469129230770227211757592853\" alt=\"Clube Coração\" style=\"width:240px;height:auto;display:block;border:0;outline:none;text-decoration:none;margin:0 auto;\" />\n                  </td>\n                </tr>\n\n                <!-- Body (contact/message notification) -->\n                <tr>\n                  <td style=\"padding:36px 40px;text-align:center;\">\n\n                    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:20px;\">\n                      <tr>\n                        <td align=\"center\">\n                          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;display:inline-table;\">\n                            <tr>\n                              <td align=\"center\" valign=\"middle\" style=\"padding-right:8px;\">\n                                <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-email-newsletter.svg?v=1761329415\" alt=\"E-mail\" style=\"width:56px;height:auto;display:block;border:0;outline:none;text-decoration:none;\" />\n                              </td>\n                              <td align=\"center\" style=\"text-align:center;\">\n                                <div class=\"conthrax\" style=\"font-size:22px;font-weight:bold;color:#746d6d;margin-bottom:6px;\">NOVA MENSAGEM</div>\n                                <div style=\"font-size:16px;color:#7f7f83;\">(Formulário de contato enviado pelo site)</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;margin:8px 0;\">Olá, equipe</p>\n\n                    <p style=\"color:#7f7f83;font-size:16px;line-height:1.6;text-align:left;margin:16px 0;padding:0 20px;\">\n                      Obrigado pelo seu contato. Abaixo estão os dados e a mensagem enviada pelo usuário.\n                    </p>\n\n                    <!-- Message block -->\n                    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin:12px 0;padding:0 20px;\">\n                      <tr>\n                        <td style=\"background:#ffffff;border:1px solid rgba(0,0,0,0.06);padding:14px;border-radius:8px;color:#333;font-size:15px;line-height:1.5;text-align:left;\">\n                          <strong>Remetente:</strong> {{ $json.nome }} <br />\n                          <strong>E-mail:</strong> {{ $json.email }}<br />\n                          <hr style=\"border:none;border-top:1px solid rgba(0,0,0,0.06);margin:12px 0;\" />\n                          <strong>Sua mensagem:</strong>\n                          <div style=\"margin-top:8px;color:#7f7f83;\">{{ $json.mensagem }} </div>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <p style=\"color:#7f7f83;font-size:15px;margin:20px 0 8px 0;\">\n                      Obrigado pelo seu contato, nossa equipe retornará em breve.\n                    </p>\n\n                    <!-- Small footer/help text -->\n                    <p style=\"color:#9e9ea0;font-size:13px;font-style:italic;margin-top:18px;\">\n                      Caso precise verificar rapidamente, acesse o painel de atendimento ou responda diretamente a este e‑mail.\n                    </p>\n                  </td>\n                </tr>\n\n                <!-- Footer icons row (inside gray card) -->\n                <tr>\n                  <td style=\"background:#e9ecef;text-align:center;border-top:4px solid #a67c39;padding:18px 0;\">\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-whatsapp-newsletter.svg?v=1761329461\" alt=\"WhatsApp\" style=\"width:22px;height:22px;margin:0 10px;display:inline-block;\" />\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-instagram-newsletter.svg?v=1761329449\" alt=\"Instagram\" style=\"width:22px;height:22px;margin:0 10px;display:inline-block;\" />\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-email-newsletter.svg?v=1761329415\" alt=\"E-mail\" style=\"width:22px;height:22px;margin:0 10px;display:inline-block;\" />\n                  </td>\n                </tr>\n\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -80,
        -304
      ],
      "id": "7e359126-1b00-48de-a0e4-09e6b518b3c7",
      "name": "HTML - 1"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>   \n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Formulário Enviado - Clube Coração</title>\n  <style>\n    @font-face {\n      font-family: \"Conthrax\";\n      font-style: italic;\n      font-weight: 600;\n      src: url(\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/Conthrax_SemiBold_Italic.woff2?v=1761330068\") format(\"woff2\");\n    }\n    @font-face {\n      font-family: \"Conthrax\";\n      font-style: italic;\n      font-weight: 400;\n      src: url(\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/Conthrax_Book_Italic.woff2?v=1761330068\") format(\"woff2\");\n    }\n    .conthrax {\n      font-family: \"Conthrax\", \"Helvetica Neue\", Arial, sans-serif;\n      font-style: normal;\n    }\n  </style>\n</head>\n\n<body style=\"margin:0;padding:0;background:#ffffff;font-family:Arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;\">\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"min-width:100%;background:#ffffff;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:980px;margin:0 auto;\">\n          <tr>\n            <td align=\"center\" style=\"padding:40px 0;\">\n\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" style=\"width:680px;max-width:100%;background:#e9ecef;border-radius:14px;overflow:hidden;border:1px solid rgba(0,0,0,0.04);box-shadow:0 10px 30px rgba(0,0,0,0.06);\">\n\n                <!-- Header -->\n                <tr>\n                  <td style=\"padding:38px 0;text-align:center;background:#e9ecef;border-bottom:6px solid #a67c39;\">\n                    <img src=\"https://clube-coracao.myshopify.com/cdn/shop/t/2/assets/logo-clube-coracao.svg?v=170469129230770227211757592853\" alt=\"Clube Coração\" style=\"width:240px;height:auto;display:block;margin:0 auto;\" />\n                  </td>\n                </tr>\n\n                <!-- Title -->\n                <tr>\n                  <td style=\"padding:36px 40px;text-align:center;\">\n                    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                      <tr>\n                        <td align=\"center\">\n                          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"display:inline-table;\">\n                            <tr>\n                              <td align=\"center\" valign=\"middle\" style=\"padding-right:8px;\">\n                                <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-check-newsletter.svg?v=1761329431\" alt=\"Check\" style=\"width:70px;height:40px;display:block;\" />\n                              </td>\n                              <td align=\"center\">\n                                <div class=\"conthrax\" style=\"font-size:22px;font-weight:bold;color:#746d6d;margin-bottom:6px;\">FORMULÁRIO</div>\n                                <div class=\"conthrax\" style=\"font-size:22px;font-weight:bold;display:inline-block;color:#a67c39;\">ENVIADO</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Greeting -->\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;margin:8px 0;\">\n                      Olá, {{ $json.nome }}\n                    </p>\n\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;line-height:1.6;margin:8px 0;\">\n                      Recebemos o seu formulário!<br />\n                      Em breve nossa equipe entrará em contato com você.<br />\n                      Agradecemos por nos escrever 💛\n                    </p>\n\n                    <!-- Sender Info -->\n                    <div style=\"text-align:left;max-width:520px;margin:28px auto 14px auto;color:#6b6b6b;font-size:16px;line-height:1.6;\">\n                      <strong>Remetente:</strong> {{ $json.nome }}<br>\n                      <strong>E-mail:</strong> {{ $json.email }}\n                    </div>\n\n                    <!-- Divider -->\n                    <hr style=\"border:0;border-top:1px solid #cfcfcf;width:86%;margin:20px auto;\">\n\n                    <!-- Message label -->\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;margin:18px 0 10px 0;\">\n                      Sua mensagem:\n                    </p>\n\n                    <!-- Message Box -->\n                    <div style=\"background:#ffffff;border:1px solid #d3d3d3;border-radius:10px;padding:18px 22px;margin:0 auto 20px auto;max-width:520px;text-align:left;font-style:italic;color:#6b6b6b;font-size:16px;line-height:1.5;white-space:pre-line;\">\n                      {{ $json.mensagem }}\n                    </div>\n\n                    <p style=\"color:#9e9ea0;font-size:14px;font-style:italic;margin-top:22px;\">\n                      Caso queira complementar algo, é só responder este e-mail.\n                    </p>\n                  </td>\n                </tr>\n\n                <!-- Footer Icons -->\n                <tr>\n                  <td style=\"background:#e9ecef;text-align:center;border-top:4px solid #a67c39;padding:18px 0;\">\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-whatsapp-newsletter.svg?v=1761329461\" alt=\"WhatsApp\" style=\"width:22px;height:22px;margin:0 10px;\" />\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-instagram-newsletter.svg?v=1761329449\" alt=\"Instagram\" style=\"width:22px;height:22px;margin:0 10px;\" />\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-email-newsletter.svg?v=1761329415\" alt=\"E-mail\" style=\"width:22px;height:22px;margin:0 10px;\" />\n                  </td>\n                </tr>\n\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -80,
        -128
      ],
      "id": "f23d5a73-c195-4b09-a1da-f89e7e529df9",
      "name": "HTML - 2"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>   \n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Formulário Enviado - Clube Coração</title>\n  <style>\n    @font-face {\n      font-family: \"Conthrax\";\n      font-style: italic;\n      font-weight: 600;\n      src: url(\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/Conthrax_SemiBold_Italic.woff2?v=1761330068\") format(\"woff2\");\n    }\n    @font-face {\n      font-family: \"Conthrax\";\n      font-style: italic;\n      font-weight: 400;\n      src: url(\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/Conthrax_Book_Italic.woff2?v=1761330068\") format(\"woff2\");\n    }\n    .conthrax {\n      font-family: \"Conthrax\", \"Helvetica Neue\", Arial, sans-serif;\n      font-style: normal;\n    }\n  </style>\n</head>\n\n<body style=\"margin:0;padding:0;background:#ffffff;font-family:Arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;\">\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"min-width:100%;background:#ffffff;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:980px;margin:0 auto;\">\n          <tr>\n            <td align=\"center\" style=\"padding:40px 0;\">\n\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" style=\"width:680px;max-width:100%;background:#e9ecef;border-radius:14px;overflow:hidden;border:1px solid rgba(0,0,0,0.04);box-shadow:0 10px 30px rgba(0,0,0,0.06);\">\n\n                <!-- Header -->\n                <tr>\n                  <td style=\"padding:38px 0;text-align:center;background:#e9ecef;border-bottom:6px solid #a67c39;\">\n                    <img src=\"https://clube-coracao.myshopify.com/cdn/shop/t/2/assets/logo-clube-coracao.svg?v=170469129230770227211757592853\" alt=\"Clube Coração\" style=\"width:240px;height:auto;display:block;margin:0 auto;\" />\n                  </td>\n                </tr>\n\n                <!-- Title -->\n                <tr>\n                  <td style=\"padding:36px 40px;text-align:center;\">\n                    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                      <tr>\n                        <td align=\"center\">\n                          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"display:inline-table;\">\n                            <tr>\n                              <td align=\"center\" valign=\"middle\" style=\"padding-right:8px;\">\n                                <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-check-newsletter.svg?v=1761329431\" alt=\"Check\" style=\"width:70px;height:40px;display:block;\" />\n                              </td>\n                              <td align=\"center\">\n                                <div class=\"conthrax\" style=\"font-size:22px;font-weight:bold;color:#746d6d;margin-bottom:6px;\">FORMULÁRIO</div>\n                                <div class=\"conthrax\" style=\"font-size:22px;font-weight:bold;display:inline-block;color:#a67c39;\">ENVIADO</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Greeting -->\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;margin:8px 0;\">\n                      Olá, {{ $json.nome }}\n                    </p>\n\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;line-height:1.6;margin:8px 0;\">\n                      Recebemos o seu formulário!<br />\n                      Em breve nossa equipe entrará em contato com você.<br />\n                      Agradecemos por nos escrever 💛\n                    </p>\n\n                    <!-- Sender Info -->\n                    <div style=\"text-align:left;max-width:520px;margin:28px auto 14px auto;color:#6b6b6b;font-size:16px;line-height:1.6;\">\n                      <strong>Remetente:</strong> {{ $json.nome }}<br>\n                      <strong>E-mail:</strong> {{ $json.email }}\n                    </div>\n\n                    <!-- Divider -->\n                    <hr style=\"border:0;border-top:1px solid #cfcfcf;width:86%;margin:20px auto;\">\n\n                    <!-- Message label -->\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;margin:18px 0 10px 0;\">\n                      Sua mensagem:\n                    </p>\n\n                    <!-- Message Box -->\n                    <div style=\"background:#ffffff;border:1px solid #d3d3d3;border-radius:10px;padding:18px 22px;margin:0 auto 20px auto;max-width:520px;text-align:left;font-style:italic;color:#6b6b6b;font-size:16px;line-height:1.5;white-space:pre-line;\">\n                      {{ $json.mensagem }}\n                    </div>\n\n                    <p style=\"color:#9e9ea0;font-size:14px;font-style:italic;margin-top:22px;\">\n                      Caso queira complementar algo, é só responder este e-mail.\n                    </p>\n                  </td>\n                </tr>\n\n                <!-- Footer Icons -->\n                <tr>\n                  <td style=\"background:#e9ecef;text-align:center;border-top:4px solid #a67c39;padding:18px 0;\">\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-whatsapp-newsletter.svg?v=1761329461\" alt=\"WhatsApp\" style=\"width:22px;height:22px;margin:0 10px;\" />\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-instagram-newsletter.svg?v=1761329449\" alt=\"Instagram\" style=\"width:22px;height:22px;margin:0 10px;\" />\n                    <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-email-newsletter.svg?v=1761329415\" alt=\"E-mail\" style=\"width:22px;height:22px;margin:0 10px;\" />\n                  </td>\n                </tr>\n\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -80,
        48
      ],
      "id": "eea34d29-0121-49d9-b116-e8a2fc6b56f9",
      "name": "HTML - 3"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>   \n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Formulário Enviado - Clube Coração</title>\n  <style>\n    @font-face {\n      font-family: \"Conthrax\";\n      font-style: italic;\n      font-weight: 600;\n      src: url(\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/Conthrax_SemiBold_Italic.woff2?v=1761330068\") format(\"woff2\");\n    }\n    @font-face {\n      font-family: \"Conthrax\";\n      font-style: italic;\n      font-weight: 400;\n      src: url(\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/Conthrax_Book_Italic.woff2?v=1761330068\") format(\"woff2\");\n    }\n    .conthrax {\n      font-family: \"Conthrax\", \"Helvetica Neue\", Arial, sans-serif;\n      font-style: normal;\n    }\n  </style>\n</head>\n\n<body style=\"margin:0;padding:0;background:#e9ecef;font-family:Arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;\">\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"min-width:100%;background:#e9ecef;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:980px;margin:0 auto;\">\n          <tr>\n            <td align=\"center\" style=\"padding:40px 0;\">\n\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" style=\"width:680px;max-width:100%;background:#ffffff;border-radius:14px;overflow:hidden;border:1px solid rgba(0,0,0,0.04);box-shadow:0 10px 30px rgba(0,0,0,0.06);\">\n\n                <!-- Header (keep gray background) -->\n                <tr>\n                  <td style=\"padding:38px 0;text-align:center;background:#e9ecef;border-bottom:6px solid #a67c39;\">\n                    <img src=\"https://clube-coracao.myshopify.com/cdn/shop/t/2/assets/logo-clube-coracao.svg?v=170469129230770227211757592853\" alt=\"Clube Coração\" style=\"width:240px;height:auto;display:block;margin:0 auto;border:0;outline:none;text-decoration:none;\" />\n                  </td>\n                </tr>\n\n                <!-- Title -->\n                <tr>\n                  <td style=\"padding:36px 40px;text-align:center;background:#ffffff;\">\n                    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                      <tr>\n                        <td align=\"center\">\n                          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"display:inline-table;\">\n                            <tr>\n                              <td align=\"center\" valign=\"middle\" style=\"padding-right:8px;\">\n                                <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-check-newsletter.svg?v=1761329431\" alt=\"Check\" style=\"width:70px;height:40px;display:block;\" />\n                              </td>\n                              <td align=\"center\">\n                                <div class=\"conthrax\" style=\"font-size:22px;font-weight:bold;color:#746d6d;margin-bottom:6px;\">FORMULÁRIO</div>\n                                <div class=\"conthrax\" style=\"font-size:22px;font-weight:bold;display:inline-block;color:#a67c39;\">ENVIADO</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Greeting -->\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;margin:8px 0;\">\n                      Olá, {{ $json.nome }}\n                    </p>\n\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;line-height:1.6;margin:8px 0;\">\n                      Recebemos o seu formulário!<br />\n                      Em breve nossa equipe entrará em contato com você.<br />\n                      Agradecemos por nos escrever 💛\n                    </p>\n\n                    <!-- Sender Info -->\n                    <div style=\"text-align:left;max-width:520px;margin:28px auto 14px auto;color:#6b6b6b;font-size:16px;line-height:1.6;\">\n                      <strong>Remetente:</strong> {{ $json.nome }}<br>\n                      <strong>E-mail:</strong> {{ $json.email }}\n                    </div>\n\n                    <!-- Divider -->\n                    <hr style=\"border:0;border-top:1px solid #cfcfcf;width:86%;margin:20px auto;\">\n\n                    <!-- Message label -->\n                    <p style=\"color:#7f7f83;font-size:18px;font-style:italic;margin:18px 0 10px 0;\">\n                      Sua mensagem:\n                    </p>\n\n                    <!-- Message Box -->\n                    <div style=\"background:#ffffff;border:1px solid #d3d3d3;border-radius:10px;padding:18px 22px;margin:0 auto 20px auto;max-width:520px;text-align:left;font-style:italic;color:#6b6b6b;font-size:16px;line-height:1.5;white-space:pre-line;\">\n                      {{ $json.mensagem }}\n                    </div>\n\n                    <p style=\"color:#9e9ea0;font-size:14px;font-style:italic;margin-top:22px;\">\n                      Caso queira complementar algo, é só responder este e-mail.\n                    </p>\n                  </td>\n                </tr>\n\n                <!-- Footer Icons (keep gray background) -->\n                <tr>\n                  <td style=\"background:#e9ecef;text-align:center;border-top:4px solid #a67c39;padding:18px 0;\">\n                    <a href=\"https://api.whatsapp.com/send/?phone=5518987639090&text&type=phone_number&app_absent=0\" target=\"_blank\" style=\"display:inline-block;margin:0 8px;text-decoration:none;\">\n                      <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-whatsapp-newsletter.svg?v=1761329461\" alt=\"WhatsApp\" style=\"width:22px;height:22px;display:inline-block;border:0;outline:none;text-decoration:none;\" />\n                    </a>\n                    <a href=\"https://www.instagram.com/clubecoracao/\" target=\"_blank\" style=\"display:inline-block;margin:0 8px;text-decoration:none;\">\n                      <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-instagram-newsletter.svg?v=1761329449\" alt=\"Instagram\" style=\"width:22px;height:22px;display:inline-block;border:0;outline:none;text-decoration:none;\" />\n                    </a>\n                    <a href=\"mailto:contato@clubecoracao.com.br\" style=\"display:inline-block;margin:0 8px;text-decoration:none;\">\n                      <img src=\"https://cdn.shopify.com/s/files/1/0700/7361/4490/files/icone-email-newsletter.svg?v=1761329415\" alt=\"E-mail\" style=\"width:22px;height:22px;display:inline-block;border:0;outline:none;text-decoration:none;\" />\n                    </a>\n                  </td>\n                </tr>\n\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -80,
        240
      ],
      "id": "552f4a76-2989-46ca-a176-7b91dc4644c9",
      "name": "HTML - 4"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-hook.galanta.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "913",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://clube-coracao.myshopify.com",
            "priority": "u=1, i",
            "referer": "https://clube-coracao.myshopify.com/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "187.33.207.63",
            "x-forwarded-host": "n8n-hook.galanta.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "84e4434b0fa3",
            "x-real-ip": "187.33.207.63"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Marcelo de Camargo Filho",
            "email": "marcelodecamargofilho@gmail.com",
            "phone": "(18) 99709-1510",
            "subject": "Sugestão",
            "message": "tem como por um nome na base para um presente para uma pessoa muito importante?",
            "terms_accepted": true,
            "terms_timestamp": "2025-10-28T19:08:13.606Z",
            "date": "28/10/2025, 16:08:13",
            "timestamp": 1761678493606,
            "iso_date": "2025-10-28T19:08:13.606Z",
            "timezone": "America/Sao_Paulo",
            "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "language": "pt-BR",
            "platform": "Win32",
            "screen_resolution": "1920x1080",
            "viewport_size": "1920x945",
            "referrer": "https://clube-coracao.myshopify.com/collections/palmeiras?view=areaClube",
            "source": "formulario-contato-clube-coracao",
            "page_url": "https://clube-coracao.myshopify.com/pages/contato",
            "page_title": "contato | Clube Coração",
            "validation_passed": true,
            "form_version": "1.0"
          },
          "webhookUrl": "https://n8n-hook.galanta.com.br/webhook/formulario-clube-coracao",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-ftsflows-bkp",
  "repo_owner": "thsjn",
  "repo_path": "workflows/galanta-newsletter-formulario",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T18:54:34.706Z",
      "updatedAt": "2025-10-28T18:54:34.706Z",
      "role": "workflow:owner",
      "workflowId": "jxXlyIaltUir5Lz7",
      "projectId": "975gDJtIeAjuVnY5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T19:05:34.876Z",
      "updatedAt": "2025-10-28T19:05:34.876Z",
      "id": "0t9rscrhBMb0yJJf",
      "name": "Marcelo"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T16:18:54.569Z",
  "versionId": "096888e0-0504-4528-b6cb-e43ced861cc5"
}