workflows/transcricao_pronta livre/oABCPBrHN84vtQA4.json
{
  "": "",
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "tratar mensagem ()",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "tratando foto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tratando audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratando foto": {
      "main": [
        [
          {
            "node": "converter imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratando audio": {
      "main": [
        [
          {
            "node": "converter audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratar mensagem ()": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converter audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converter imagem": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resposta": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T23:45:07.593Z",
  "id": "oABCPBrHN84vtQA4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "transcricao pronta livre",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagem",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        48
      ],
      "id": "ec01775c-fd75-4960-9419-940697efb38f",
      "name": "Webhook",
      "webhookId": "72013ce1-e78a-46ea-ad4a-b10d176db7fb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b64d21b-89e7-4bbd-9d4d-1b7fc5ea8ca7",
              "name": "resposta_em_txt",
              "value": "={{ $json.text }}{{ $json.content }}{{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        48
      ],
      "id": "6f27b0e5-afeb-4718-a703-3c58d36f9d6e",
      "name": "resposta"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva esta imagem detalhadamente.\nExtraia o texto que aparece nesta imagem, desde que seja legivel, e o que estiver escrito, escreva separado do detalhamento.",
        "inputType": "base64",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        -96
      ],
      "id": "5f214955-299a-4aa3-92aa-5e3e39f03b19",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "kmdg3GRGL0YNScyK",
          "name": "OpenAi account - Matheus G"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be78b61a-ec59-4447-aa83-7ddd39020b4f",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6070db72-a493-47de-a3be-62b199a1fa58",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9225a5a-fa6b-4586-86f2-6e22bcb881e5",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "=audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        176,
        32
      ],
      "id": "e9702c7e-f772-45ca-a6b2-910b9ba76365",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e22ea48-d5fe-4a18-992f-9d413c914407",
              "name": "base64",
              "value": "={{ $('tratar mensagem ()').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "250a0369-6083-4837-8cfc-e4f5f03aec77",
      "name": "tratando foto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3efda5e2-1f3f-4b60-aa27-f1f3cbe483bf",
              "name": "=base64",
              "value": "={{ $('tratar mensagem ()').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        176
      ],
      "id": "cb2c0ba3-4247-4b5c-8865-0cb5985bba0c",
      "name": "tratando audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30ca5947-52d3-4972-b875-59eb25e18e8c",
              "name": "=numero_wpp",
              "value": "={{ $json.body.data.key.remoteJidAlt.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "27fd49fc-bb18-4144-8509-fedcf2f972a6",
              "name": "=nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "5f63c232-28d7-4cea-9042-006f326adf9a",
              "name": "tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "33d271fa-7198-462b-9d40-a9644110471b",
              "name": "base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        48
      ],
      "id": "1300ae38-4ec0-4f63-822c-c4e167b79d29",
      "name": "tratar mensagem ()"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "Audio",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        592,
        176
      ],
      "id": "19175385-73cc-4b55-945c-96f7abf50893",
      "name": "converter audio"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "Image",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        592,
        -96
      ],
      "id": "284b7d17-472a-4778-8e96-38974532f89b",
      "name": "converter imagem"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        176
      ],
      "id": "40c9d38e-3aa3-4501-9426-17eee1e1192c",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "kmdg3GRGL0YNScyK",
          "name": "OpenAi account - Matheus G"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "chat-bot",
        "remoteJid": "={{ $('tratar mensagem ()').item.json.numero_wpp }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1408,
        48
      ],
      "id": "e308b6b7-7405-4482-8a36-1aa0d155bb47",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "E4uHe00rszinK7SL",
          "name": "Token API Evo-API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.resposta_em_txt }}",
        "options": {
          "systemMessage": "Você é um assistente virtual prestativo. Responda ao usuário de forma clara, amigável e direta.\n\nREGRAS DE FORMATAÇÃO (MUITO IMPORTANTE):\n- Gere SEMPRE respostas em texto puro.\n- NÃO USE NENHUM tipo de formatação Markdown.\n- NÃO USE asteriscos (*).\n- NÃO USE hifens (-) ou qualquer outro marcador para listas.\n\nQUANDO FOR LISTAR DADOS  ou QUALQUER TIPO DE RESPOSTA,(Nome, Idade, Curso, etc.):\n- Gere a lista de dados EXATAMENTE ASSIM, em linhas separadas e sem marcadores:\n\nNome: [dado do nome]\nIdade: [dado da idade]\nInstituição de ensino: [dado da instituição]\nCurso: [dado do curso]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1136,
        48
      ],
      "id": "f5294d74-0412-460e-89fd-a0597ad4ab75",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        272
      ],
      "id": "556c17aa-8eab-455c-bf24-29327337baf0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sgQWbQO4PvzUtOvY",
          "name": "api key - marcelo"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('tratar mensagem ()').item.json.numero_wpp }}",
        "tableName": "n8n_chat_message"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1168,
        272
      ],
      "id": "4010e0dc-95f3-4f6c-a9bb-807d1ff33866",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AdLGgCVoAnyDrwwh",
          "name": "Postgres account - Marcelo090606'orgs"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.estudoia.site",
            "user-agent": "axios/1.12.2",
            "content-length": "56306",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.estudoia.site",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7819ab047df3",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "chat-bot",
            "data": {
              "key": {
                "remoteJid": "197177720754402@lid",
                "remoteJidAlt": "5518997091510@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0FAAE10EA36BAAD6C7C",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Marcelo",
              "status": "DELIVERY_ACK",
              "message": {
                "imageMessage": {
                  "interactiveAnnotations": [],
                  "scanLengths": [],
                  "annotations": [],
                  "url": "https://mmg.whatsapp.net/o1/v/t24/f2/m235/AQNwY0sIj-zROp4GTpN8EWKOJqKJrlrcF1TdzmtyviD0_Tp019oshJnJtOXuYFFwQOxxya8lOjIH80IPMmtwMmwU0T-3spZanphuMQ92vw?ccb=9-4&oh=01_Q5Aa2wF28k9eLIt91iIB_sz0WhoOXqJ_iW6yuAKutStKf4LGtg&oe=69219EFD&_nc_sid=e6ed6c&mms3=true",
                  "mimetype": "image/jpeg",
                  "caption": "faz mermo nao pow, ta na seman que vem",
                  "fileSha256": {
                    "0": 252,
                    "1": 234,
                    "2": 205,
                    "3": 31,
                    "4": 229,
                    "5": 93,
                    "6": 80,
                    "7": 236,
                    "8": 76,
                    "9": 251,
                    "10": 98,
                    "11": 252,
                    "12": 240,
                    "13": 109,
                    "14": 197,
                    "15": 0,
                    "16": 57,
                    "17": 52,
                    "18": 37,
                    "19": 206,
                    "20": 225,
                    "21": 103,
                    "22": 62,
                    "23": 114,
                    "24": 23,
                    "25": 52,
                    "26": 115,
                    "27": 38,
                    "28": 43,
                    "29": 245,
                    "30": 70,
                    "31": 101
                  },
                  "fileLength": {
                    "low": 21053,
                    "high": 0,
                    "unsigned": true
                  },
                  "height": 211,
                  "width": 594,
                  "mediaKey": {
                    "0": 129,
                    "1": 226,
                    "2": 220,
                    "3": 217,
                    "4": 252,
                    "5": 168,
                    "6": 2,
                    "7": 203,
                    "8": 233,
                    "9": 190,
                    "10": 201,
                    "11": 49,
                    "12": 150,
                    "13": 58,
                    "14": 157,
                    "15": 82,
                    "16": 206,
                    "17": 221,
                    "18": 159,
                    "19": 19,
                    "20": 118,
                    "21": 144,
                    "22": 67,
                    "23": 250,
                    "24": 144,
                    "25": 150,
                    "26": 48,
                    "27": 243,
                    "28": 64,
                    "29": 252,
                    "30": 213,
                    "31": 171
                  },
                  "fileEncSha256": {
                    "0": 123,
                    "1": 57,
                    "2": 132,
                    "3": 194,
                    "4": 94,
                    "5": 227,
                    "6": 102,
                    "7": 214,
                    "8": 185,
                    "9": 64,
                    "10": 111,
                    "11": 203,
                    "12": 48,
                    "13": 194,
                    "14": 42,
                    "15": 247,
                    "16": 35,
                    "17": 69,
                    "18": 230,
                    "19": 118,
                    "20": 153,
                    "21": 99,
                    "22": 172,
                    "23": 0,
                    "24": 16,
                    "25": 74,
                    "26": 79,
                    "27": 95,
                    "28": 31,
                    "29": 247,
                    "30": 135,
                    "31": 171
                  },
                  "directPath": "/o1/v/t24/f2/m235/AQNwY0sIj-zROp4GTpN8EWKOJqKJrlrcF1TdzmtyviD0_Tp019oshJnJtOXuYFFwQOxxya8lOjIH80IPMmtwMmwU0T-3spZanphuMQ92vw?ccb=9-4&oh=01_Q5Aa2wF28k9eLIt91iIB_sz0WhoOXqJ_iW6yuAKutStKf4LGtg&oe=69219EFD&_nc_sid=e6ed6c",
                  "mediaKeyTimestamp": {
                    "low": 1761227135,
                    "high": 0,
                    "unsigned": false
                  },
                  "jpegThumbnail": {
                    "0": 255,
                    "1": 216,
                    "2": 255,
                    "3": 224,
                    "4": 0,
                    "5": 16,
                    "6": 74,
                    "7": 70,
                    "8": 73,
                    "9": 70,
                    "10": 0,
                    "11": 1,
                    "12": 1,
                    "13": 0,
                    "14": 0,
                    "15": 1,
                    "16": 0,
                    "17": 1,
                    "18": 0,
                    "19": 0,
                    "20": 255,
                    "21": 226,
                    "22": 1,
                    "23": 216,
                    "24": 73,
                    "25": 67,
                    "26": 67,
                    "27": 95,
                    "28": 80,
                    "29": 82,
                    "30": 79,
                    "31": 70,
                    "32": 73,
                    "33": 76,
                    "34": 69,
                    "35": 0,
                    "36": 1,
                    "37": 1,
                    "38": 0,
                    "39": 0,
                    "40": 1,
                    "41": 200,
                    "42": 0,
                    "43": 0,
                    "44": 0,
                    "45": 0,
                    "46": 4,
                    "47": 48,
                    "48": 0,
                    "49": 0,
                    "50": 109,
                    "51": 110,
                    "52": 116,
                    "53": 114,
                    "54": 82,
                    "55": 71,
                    "56": 66,
                    "57": 32,
                    "58": 88,
                    "59": 89,
                    "60": 90,
                    "61": 32,
                    "62": 7,
                    "63": 224,
                    "64": 0,
                    "65": 1,
                    "66": 0,
                    "67": 1,
                    "68": 0,
                    "69": 0,
                    "70": 0,
                    "71": 0,
                    "72": 0,
                    "73": 0,
                    "74": 97,
                    "75": 99,
                    "76": 115,
                    "77": 112,
                    "78": 0,
                    "79": 0,
                    "80": 0,
                    "81": 0,
                    "82": 0,
                    "83": 0,
                    "84": 0,
                    "85": 0,
                    "86": 0,
                    "87": 0,
                    "88": 0,
                    "89": 0,
                    "90": 0,
                    "91": 0,
                    "92": 0,
                    "93": 0,
                    "94": 0,
                    "95": 0,
                    "96": 0,
                    "97": 0,
                    "98": 0,
                    "99": 0,
                    "100": 0,
                    "101": 0,
                    "102": 0,
                    "103": 0,
                    "104": 0,
                    "105": 1,
                    "106": 0,
                    "107": 0,
                    "108": 246,
                    "109": 214,
                    "110": 0,
                    "111": 1,
                    "112": 0,
                    "113": 0,
                    "114": 0,
                    "115": 0,
                    "116": 211,
                    "117": 45,
                    "118": 0,
                    "119": 0,
                    "120": 0,
                    "121": 0,
                    "122": 0,
                    "123": 0,
                    "124": 0,
                    "125": 0,
                    "126": 0,
                    "127": 0,
                    "128": 0,
                    "129": 0,
                    "130": 0,
                    "131": 0,
                    "132": 0,
                    "133": 0,
                    "134": 0,
                    "135": 0,
                    "136": 0,
                    "137": 0,
                    "138": 0,
                    "139": 0,
                    "140": 0,
                    "141": 0,
                    "142": 0,
                    "143": 0,
                    "144": 0,
                    "145": 0,
                    "146": 0,
                    "147": 0,
                    "148": 0,
                    "149": 0,
                    "150": 0,
                    "151": 0,
                    "152": 0,
                    "153": 0,
                    "154": 0,
                    "155": 0,
                    "156": 0,
                    "157": 0,
                    "158": 0,
                    "159": 0,
                    "160": 0,
                    "161": 0,
                    "162": 0,
                    "163": 0,
                    "164": 0,
                    "165": 0,
                    "166": 0,
                    "167": 0,
                    "168": 0,
                    "169": 9,
                    "170": 100,
                    "171": 101,
                    "172": 115,
                    "173": 99,
                    "174": 0,
                    "175": 0,
                    "176": 0,
                    "177": 240,
                    "178": 0,
                    "179": 0,
                    "180": 0,
                    "181": 36,
                    "182": 114,
                    "183": 88,
                    "184": 89,
                    "185": 90,
                    "186": 0,
                    "187": 0,
                    "188": 1,
                    "189": 20,
                    "190": 0,
                    "191": 0,
                    "192": 0,
                    "193": 20,
                    "194": 103,
                    "195": 88,
                    "196": 89,
                    "197": 90,
                    "198": 0,
                    "199": 0,
                    "200": 1,
                    "201": 40,
                    "202": 0,
                    "203": 0,
                    "204": 0,
                    "205": 20,
                    "206": 98,
                    "207": 88,
                    "208": 89,
                    "209": 90,
                    "210": 0,
                    "211": 0,
                    "212": 1,
                    "213": 60,
                    "214": 0,
                    "215": 0,
                    "216": 0,
                    "217": 20,
                    "218": 119,
                    "219": 116,
                    "220": 112,
                    "221": 116,
                    "222": 0,
                    "223": 0,
                    "224": 1,
                    "225": 80,
                    "226": 0,
                    "227": 0,
                    "228": 0,
                    "229": 20,
                    "230": 114,
                    "231": 84,
                    "232": 82,
                    "233": 67,
                    "234": 0,
                    "235": 0,
                    "236": 1,
                    "237": 100,
                    "238": 0,
                    "239": 0,
                    "240": 0,
                    "241": 40,
                    "242": 103,
                    "243": 84,
                    "244": 82,
                    "245": 67,
                    "246": 0,
                    "247": 0,
                    "248": 1,
                    "249": 100,
                    "250": 0,
                    "251": 0,
                    "252": 0,
                    "253": 40,
                    "254": 98,
                    "255": 84,
                    "256": 82,
                    "257": 67,
                    "258": 0,
                    "259": 0,
                    "260": 1,
                    "261": 100,
                    "262": 0,
                    "263": 0,
                    "264": 0,
                    "265": 40,
                    "266": 99,
                    "267": 112,
                    "268": 114,
                    "269": 116,
                    "270": 0,
                    "271": 0,
                    "272": 1,
                    "273": 140,
                    "274": 0,
                    "275": 0,
                    "276": 0,
                    "277": 60,
                    "278": 109,
                    "279": 108,
                    "280": 117,
                    "281": 99,
                    "282": 0,
                    "283": 0,
                    "284": 0,
                    "285": 0,
                    "286": 0,
                    "287": 0,
                    "288": 0,
                    "289": 1,
                    "290": 0,
                    "291": 0,
                    "292": 0,
                    "293": 12,
                    "294": 101,
                    "295": 110,
                    "296": 85,
                    "297": 83,
                    "298": 0,
                    "299": 0,
                    "300": 0,
                    "301": 8,
                    "302": 0,
                    "303": 0,
                    "304": 0,
                    "305": 28,
                    "306": 0,
                    "307": 115,
                    "308": 0,
                    "309": 82,
                    "310": 0,
                    "311": 71,
                    "312": 0,
                    "313": 66,
                    "314": 88,
                    "315": 89,
                    "316": 90,
                    "317": 32,
                    "318": 0,
                    "319": 0,
                    "320": 0,
                    "321": 0,
                    "322": 0,
                    "323": 0,
                    "324": 111,
                    "325": 162,
                    "326": 0,
                    "327": 0,
                    "328": 56,
                    "329": 245,
                    "330": 0,
                    "331": 0,
                    "332": 3,
                    "333": 144,
                    "334": 88,
                    "335": 89,
                    "336": 90,
                    "337": 32,
                    "338": 0,
                    "339": 0,
                    "340": 0,
                    "341": 0,
                    "342": 0,
                    "343": 0,
                    "344": 98,
                    "345": 153,
                    "346": 0,
                    "347": 0,
                    "348": 183,
                    "349": 133,
                    "350": 0,
                    "351": 0,
                    "352": 24,
                    "353": 218,
                    "354": 88,
                    "355": 89,
                    "356": 90,
                    "357": 32,
                    "358": 0,
                    "359": 0,
                    "360": 0,
                    "361": 0,
                    "362": 0,
                    "363": 0,
                    "364": 36,
                    "365": 160,
                    "366": 0,
                    "367": 0,
                    "368": 15,
                    "369": 132,
                    "370": 0,
                    "371": 0,
                    "372": 182,
                    "373": 207,
                    "374": 88,
                    "375": 89,
                    "376": 90,
                    "377": 32,
                    "378": 0,
                    "379": 0,
                    "380": 0,
                    "381": 0,
                    "382": 0,
                    "383": 0,
                    "384": 246,
                    "385": 214,
                    "386": 0,
                    "387": 1,
                    "388": 0,
                    "389": 0,
                    "390": 0,
                    "391": 0,
                    "392": 211,
                    "393": 45,
                    "394": 112,
                    "395": 97,
                    "396": 114,
                    "397": 97,
                    "398": 0,
                    "399": 0,
                    "400": 0,
                    "401": 0,
                    "402": 0,
                    "403": 4,
                    "404": 0,
                    "405": 0,
                    "406": 0,
                    "407": 2,
                    "408": 102,
                    "409": 102,
                    "410": 0,
                    "411": 0,
                    "412": 242,
                    "413": 167,
                    "414": 0,
                    "415": 0,
                    "416": 13,
                    "417": 89,
                    "418": 0,
                    "419": 0,
                    "420": 19,
                    "421": 208,
                    "422": 0,
                    "423": 0,
                    "424": 10,
                    "425": 91,
                    "426": 0,
                    "427": 0,
                    "428": 0,
                    "429": 0,
                    "430": 0,
                    "431": 0,
                    "432": 0,
                    "433": 0,
                    "434": 109,
                    "435": 108,
                    "436": 117,
                    "437": 99,
                    "438": 0,
                    "439": 0,
                    "440": 0,
                    "441": 0,
                    "442": 0,
                    "443": 0,
                    "444": 0,
                    "445": 1,
                    "446": 0,
                    "447": 0,
                    "448": 0,
                    "449": 12,
                    "450": 101,
                    "451": 110,
                    "452": 85,
                    "453": 83,
                    "454": 0,
                    "455": 0,
                    "456": 0,
                    "457": 32,
                    "458": 0,
                    "459": 0,
                    "460": 0,
                    "461": 28,
                    "462": 0,
                    "463": 71,
                    "464": 0,
                    "465": 111,
                    "466": 0,
                    "467": 111,
                    "468": 0,
                    "469": 103,
                    "470": 0,
                    "471": 108,
                    "472": 0,
                    "473": 101,
                    "474": 0,
                    "475": 32,
                    "476": 0,
                    "477": 73,
                    "478": 0,
                    "479": 110,
                    "480": 0,
                    "481": 99,
                    "482": 0,
                    "483": 46,
                    "484": 0,
                    "485": 32,
                    "486": 0,
                    "487": 50,
                    "488": 0,
                    "489": 48,
                    "490": 0,
                    "491": 49,
                    "492": 0,
                    "493": 54,
                    "494": 255,
                    "495": 219,
                    "496": 0,
                    "497": 67,
                    "498": 0,
                    "499": 3,
                    "500": 2,
                    "501": 2,
                    "502": 2,
                    "503": 2,
                    "504": 2,
                    "505": 3,
                    "506": 2,
                    "507": 2,
                    "508": 2,
                    "509": 3,
                    "510": 3,
                    "511": 3,
                    "512": 3,
                    "513": 4,
                    "514": 6,
                    "515": 4,
                    "516": 4,
                    "517": 4,
                    "518": 4,
                    "519": 4,
                    "520": 8,
                    "521": 6,
                    "522": 6,
                    "523": 5,
                    "524": 6,
                    "525": 9,
                    "526": 8,
                    "527": 10,
                    "528": 10,
                    "529": 9,
                    "530": 8,
                    "531": 9,
                    "532": 9,
                    "533": 10,
                    "534": 12,
                    "535": 15,
                    "536": 12,
                    "537": 10,
                    "538": 11,
                    "539": 14,
                    "540": 11,
                    "541": 9,
                    "542": 9,
                    "543": 13,
                    "544": 17,
                    "545": 13,
                    "546": 14,
                    "547": 15,
                    "548": 16,
                    "549": 16,
                    "550": 17,
                    "551": 16,
                    "552": 10,
                    "553": 12,
                    "554": 18,
                    "555": 19,
                    "556": 18,
                    "557": 16,
                    "558": 19,
                    "559": 15,
                    "560": 16,
                    "561": 16,
                    "562": 16,
                    "563": 255,
                    "564": 219,
                    "565": 0,
                    "566": 67,
                    "567": 1,
                    "568": 3,
                    "569": 3,
                    "570": 3,
                    "571": 4,
                    "572": 3,
                    "573": 4,
                    "574": 8,
                    "575": 4,
                    "576": 4,
                    "577": 8,
                    "578": 16,
                    "579": 11,
                    "580": 9,
                    "581": 11,
                    "582": 16,
                    "583": 16,
                    "584": 16,
                    "585": 16,
                    "586": 16,
                    "587": 16,
                    "588": 16,
                    "589": 16,
                    "590": 16,
                    "591": 16,
                    "592": 16,
                    "593": 16,
                    "594": 16,
                    "595": 16,
                    "596": 16,
                    "597": 16,
                    "598": 16,
                    "599": 16,
                    "600": 16,
                    "601": 16,
                    "602": 16,
                    "603": 16,
                    "604": 16,
                    "605": 16,
                    "606": 16,
                    "607": 16,
                    "608": 16,
                    "609": 16,
                    "610": 16,
                    "611": 16,
                    "612": 16,
                    "613": 16,
                    "614": 16,
                    "615": 16,
                    "616": 16,
                    "617": 16,
                    "618": 16,
                    "619": 16,
                    "620": 16,
                    "621": 16,
                    "622": 16,
                    "623": 16,
                    "624": 16,
                    "625": 16,
                    "626": 16,
                    "627": 16,
                    "628": 16,
                    "629": 16,
                    "630": 16,
                    "631": 16,
                    "632": 255,
                    "633": 192,
                    "634": 0,
                    "635": 17,
                    "636": 8,
                    "637": 0,
                    "638": 35,
                    "639": 0,
                    "640": 100,
                    "641": 3,
                    "642": 1,
                    "643": 34,
                    "644": 0,
                    "645": 2,
                    "646": 17,
                    "647": 1,
                    "648": 3,
                    "649": 17,
                    "650": 1,
                    "651": 255,
                    "652": 196,
                    "653": 0,
                    "654": 29,
                    "655": 0,
                    "656": 0,
                    "657": 1,
                    "658": 5,
                    "659": 0,
                    "660": 3,
                    "661": 1,
                    "662": 0,
                    "663": 0,
                    "664": 0,
                    "665": 0,
                    "666": 0,
                    "667": 0,
                    "668": 0,
                    "669": 0,
                    "670": 0,
                    "671": 0,
                    "672": 0,
                    "673": 1,
                    "674": 3,
                    "675": 4,
                    "676": 5,
                    "677": 6,
                    "678": 2,
                    "679": 7,
                    "680": 8,
                    "681": 9,
                    "682": 255,
                    "683": 196,
                    "684": 0,
                    "685": 50,
                    "686": 16,
                    "687": 0,
                    "688": 2,
                    "689": 2,
                    "690": 1,
                    "691": 4,
                    "692": 2,
                    "693": 1,
                    "694": 2,
                    "695": 2,
                    "696": 8,
                    "697": 7,
                    "698": 0,
                    "699": 0,
                    "700": 0,
                    "701": 0,
                    "702": 0,
                    "703": 1,
                    "704": 2,
                    "705": 3,
                    "706": 4,
                    "707": 5,
                    "708": 0,
                    "709": 6,
                    "710": 17,
                    "711": 18,
                    "712": 19,
                    "713": 33,
                    "714": 49,
                    "715": 7,
                    "716": 34,
                    "717": 20,
                    "718": 65,
                    "719": 8,
                    "720": 21,
                    "721": 35,
                    "722": 51,
                    "723": 81,
                    "724": 97,
                    "725": 113,
                    "726": 129,
                    "727": 52,
                    "728": 82,
                    "729": 99,
                    "730": 115,
                    "731": 177,
                    "732": 179,
                    "733": 193,
                    "734": 255,
                    "735": 196,
                    "736": 0,
                    "737": 26,
                    "738": 1,
                    "739": 1,
                    "740": 0,
                    "741": 3,
                    "742": 1,
                    "743": 1,
                    "744": 1,
                    "745": 0,
                    "746": 0,
                    "747": 0,
                    "748": 0,
                    "749": 0,
                    "750": 0,
                    "751": 0,
                    "752": 0,
                    "753": 0,
                    "754": 0,
                    "755": 0,
                    "756": 2,
                    "757": 4,
                    "758": 5,
                    "759": 3,
                    "760": 1,
                    "761": 6,
                    "762": 255,
                    "763": 196,
                    "764": 0,
                    "765": 37,
                    "766": 17,
                    "767": 0,
                    "768": 2,
                    "769": 2,
                    "770": 2,
                    "771": 1,
                    "772": 3,
                    "773": 3,
                    "774": 5,
                    "775": 0,
                    "776": 0,
                    "777": 0,
                    "778": 0,
                    "779": 0,
                    "780": 0,
                    "781": 0,
                    "782": 0,
                    "783": 0,
                    "784": 1,
                    "785": 2,
                    "786": 17,
                    "787": 3,
                    "788": 4,
                    "789": 5,
                    "790": 33,
                    "791": 49,
                    "792": 81,
                    "793": 6,
                    "794": 18,
                    "795": 97,
                    "796": 19,
                    "797": 50,
                    "798": 129,
                    "799": 161,
                    "800": 240,
                    "801": 255,
                    "802": 218,
                    "803": 0,
                    "804": 12,
                    "805": 3,
                    "806": 1,
                    "807": 0,
                    "808": 2,
                    "809": 17,
                    "810": 3,
                    "811": 17,
                    "812": 0,
                    "813": 63,
                    "814": 0,
                    "815": 249,
                    "816": 214,
                    "817": 3,
                    "818": 16,
                    "819": 164,
                    "820": 144,
                    "821": 192,
                    "822": 242,
                    "823": 163,
                    "824": 215,
                    "825": 190,
                    "826": 79,
                    "827": 246,
                    "828": 247,
                    "829": 171,
                    "830": 221,
                    "831": 184,
                    "832": 163,
                    "833": 193,
                    "834": 117,
                    "835": 129,
                    "836": 7,
                    "837": 180,
                    "838": 144,
                    "839": 252,
                    "840": 15,
                    "841": 67,
                    "842": 212,
                    "843": 154,
                    "844": 189,
                    "845": 169,
                    "846": 244,
                    "847": 79,
                    "848": 234,
                    "849": 133,
                    "850": 218,
                    "851": 214,
                    "852": 47,
                    "853": 81,
                    "854": 250,
                    "855": 127,
                    "856": 186,
                    "857": 103,
                    "858": 130,
                    "859": 132,
                    "860": 102,
                    "861": 75,
                    "862": 19,
                    "863": 195,
                    "864": 132,
                    "865": 176,
                    "866": 201,
                    "867": 2,
                    "868": 136,
                    "869": 214,
                    "870": 82,
                    "871": 210,
                    "872": 48,
                    "873": 94,
                    "874": 20,
                    "875": 8,
                    "876": 228,
                    "877": 71,
                    "878": 228,
                    "879": 241,
                    "880": 246,
                    "881": 186,
                    "882": 183,
                    "883": 193,
                    "884": 28,
                    "885": 242,
                    "886": 179,
                    "887": 178,
                    "888": 119,
                    "889": 86,
                    "890": 203,
                    "891": 23,
                    "892": 41,
                    "893": 238,
                    "894": 173,
                    "895": 187,
                    "896": 149,
                    "897": 196,
                    "898": 88,
                    "899": 91,
                    "900": 16,
                    "901": 194,
                    "902": 209,
                    "903": 100,
                    "904": 41,
                    "905": 75,
                    "906": 90,
                    "907": 65,
                    "908": 32,
                    "909": 139,
                    "910": 200,
                    "911": 87,
                    "912": 137,
                    "913": 0,
                    "914": 60,
                    "915": 248,
                    "916": 229,
                    "917": 133,
                    "918": 184,
                    "919": 255,
                    "920": 0,
                    "921": 44,
                    "922": 136,
                    "923": 126,
                    "924": 24,
                    "925": 114,
                    "926": 57,
                    "927": 201,
                    "928": 90,
                    "929": 161,
                    "930": 219,
                    "931": 152,
                    "932": 60,
                    "933": 141,
                    "934": 12,
                    "935": 117,
                    "936": 76,
                    "937": 165,
                    "938": 165,
                    "939": 129,
                    "940": 107,
                    "941": 221,
                    "942": 64,
                    "943": 240,
                    "944": 117,
                    "945": 179,
                    "946": 19,
                    "947": 59,
                    "948": 169,
                    "949": 44,
                    "950": 189,
                    "951": 186,
                    "952": 6,
                    "953": 44,
                    "954": 0,
                    "955": 104,
                    "956": 220,
                    "957": 18,
                    "958": 64,
                    "959": 224,
                    "960": 142,
                    "961": 15,
                    "962": 190,
                    "963": 52,
                    "964": 214,
                    "965": 63,
                    "966": 27,
                    "967": 115,
                    "968": 41,
                    "969": 35,
                    "970": 195,
                    "971": 72,
                    "972": 68,
                    "973": 210,
                    "974": 40,
                    "975": 82,
                    "976": 17,
                    "977": 230,
                    "978": 72,
                    "979": 217,
                    "980": 203,
                    "981": 72,
                    "982": 177,
                    "983": 128,
                    "984": 129,
                    "985": 136,
                    "986": 46,
                    "987": 221,
                    "988": 156,
                    "989": 125,
                    "990": 171,
                    "991": 201,
                    "992": 3,
                    "993": 179,
                    "994": 113,
                    "995": 213,
                    "996": 88,
                    "997": 135,
                    "998": 228,
                    "999": 220,
                    "1000": 251,
                    "1001": 146,
                    "1002": 125,
                    "1003": 189,
                    "1004": 14,
                    "1005": 210,
                    "1006": 155,
                    "1007": 112,
                    "1008": 228,
                    "1009": 228,
                    "1010": 193,
                    "1011": 214,
                    "1012": 176,
                    "1013": 215,
                    "1014": 33,
                    "1015": 198,
                    "1016": 61,
                    "1017": 185,
                    "1018": 13,
                    "1019": 72,
                    "1020": 231,
                    "1021": 32,
                    "1022": 131,
                    "1023": 42,
                    "1024": 194,
                    "1025": 79,
                    "1026": 69,
                    "1027": 114,
                    "1028": 9,
                    "1029": 5,
                    "1030": 128,
                    "1031": 231,
                    "1032": 130,
                    "1033": 125,
                    "1034": 234,
                    "1035": 46,
                    "1036": 55,
                    "1037": 37,
                    "1038": 144,
                    "1039": 195,
                    "1040": 228,
                    "1041": 42,
                    "1042": 229,
                    "1043": 177,
                    "1044": 55,
                    "1045": 236,
                    "1046": 82,
                    "1047": 189,
                    "1048": 74,
                    "1049": 100,
                    "1050": 177,
                    "1051": 90,
                    "1052": 205,
                    "1053": 105,
                    "1054": 90,
                    "1055": 57,
                    "1056": 96,
                    "1057": 149,
                    "1058": 24,
                    "1059": 50,
                    "1060": 72,
                    "1061": 142,
                    "1062": 167,
                    "1063": 149,
                    "1064": 101,
                    "1065": 96,
                    "1066": 8,
                    "1067": 96,
                    "1068": 65,
                    "1069": 4,
                    "1070": 114,
                    "1071": 52,
                    "1072": 42,
                    "1073": 188,
                    "1074": 54,
                    "1075": 49,
                    "1076": 242,
                    "1077": 61,
                    "1078": 105,
                    "1079": 235,
                    "1080": 116,
                    "1081": 229,
                    "1082": 163,
                    "1083": 34,
                    "1084": 199,
                    "1085": 59,
                    "1086": 192,
                    "1087": 204,
                    "1088": 241,
                    "1089": 199,
                    "1090": 40,
                    "1091": 48,
                    "1092": 206,
                    "1093": 146,
                    "1094": 128,
                    "1095": 29,
                    "1096": 21,
                    "1097": 192,
                    "1098": 37,
                    "1099": 9,
                    "1100": 1,
                    "1101": 128,
                    "1102": 96,
                    "1103": 10,
                    "1104": 159,
                    "1105": 106,
                    "1106": 220,
                    "1107": 171,
                    "1108": 0,
                    "1109": 202,
                    "1110": 64,
                    "1111": 99,
                    "1112": 158,
                    "1113": 125,
                    "1114": 29,
                    "1115": 39,
                    "1116": 63,
                    "1117": 153,
                    "1118": 58,
                    "1119": 16,
                    "1120": 250,
                    "1121": 36,
                    "1122": 236,
                    "1123": 86,
                    "1124": 30,
                    "1125": 254,
                    "1126": 100,
                    "1127": 216,
                    "1128": 92,
                    "1129": 122,
                    "1130": 194,
                    "1131": 205,
                    "1132": 93,
                    "1133": 18,
                    "1134": 70,
                    "1135": 73,
                    "1136": 44,
                    "1137": 71,
                    "1138": 27,
                    "1139": 48,
                    "1140": 105,
                    "1141": 99,
                    "1142": 137,
                    "1143": 66,
                    "1144": 43,
                    "1145": 176,
                    "1146": 50,
                    "1147": 55,
                    "1148": 121,
                    "1149": 83,
                    "1150": 237,
                    "1151": 78,
                    "1152": 88,
                    "1153": 47,
                    "1154": 102,
                    "1155": 35,
                    "1156": 170,
                    "1157": 179,
                    "1158": 8,
                    "1159": 90,
                    "1160": 145,
                    "1161": 140,
                    "1162": 202,
                    "1163": 228,
                    "1164": 176,
                    "1165": 183,
                    "1166": 224,
                    "1167": 202,
                    "1168": 225,
                    "1169": 178,
                    "1170": 54,
                    "1171": 104,
                    "1172": 221,
                    "1173": 171,
                    "1174": 42,
                    "1175": 77,
                    "1176": 5,
                    "1177": 138,
                    "1178": 179,
                    "1179": 52,
                    "1180": 82,
                    "1181": 197,
                    "1182": 34,
                    "1183": 48,
                    "1184": 101,
                    "1185": 116,
                    "1186": 117,
                    "1187": 32,
                    "1188": 171,
                    "1189": 6,
                    "1190": 0,
                    "1191": 130,
                    "1192": 15,
                    "1193": 32,
                    "1194": 128,
                    "1195": 127,
                    "1196": 45,
                    "1197": 61,
                    "1198": 128,
                    "1199": 193,
                    "1200": 102,
                    "1201": 55,
                    "1202": 78,
                    "1203": 102,
                    "1204": 166,
                    "1205": 3,
                    "1206": 111,
                    "1207": 227,
                    "1208": 229,
                    "1209": 189,
                    "1210": 144,
                    "1211": 187,
                    "1212": 39,
                    "1213": 138,
                    "1214": 8,
                    "1215": 34,
                    "1216": 227,
                    "1217": 150,
                    "1218": 63,
                    "1219": 36,
                    "1220": 242,
                    "1221": 125,
                    "1222": 5,
                    "1223": 0,
                    "1224": 18,
                    "1225": 88,
                    "1226": 240,
                    "1227": 0,
                    "1228": 4,
                    "1229": 146,
                    "1230": 0,
                    "1231": 39,
                    "1232": 94,
                    "1233": 198,
                    "1234": 50,
                    "1235": 156,
                    "1236": 148,
                    "1237": 98,
                    "1238": 173,
                    "1239": 178,
                    "1240": 19,
                    "1241": 199,
                    "1242": 28,
                    "1243": 113,
                    "1244": 115,
                    "1245": 155,
                    "1246": 164,
                    "1247": 186,
                    "1248": 182,
                    "1249": 251,
                    "1250": 33,
                    "1251": 204,
                    "1252": 206,
                    "1253": 219,
                    "1254": 205,
                    "1255": 109,
                    "1256": 248,
                    "1257": 233,
                    "1258": 205,
                    "1259": 149,
                    "1260": 166,
                    "1261": 34,
                    "1262": 139,
                    "1263": 33,
                    "1264": 94,
                    "1265": 59,
                    "1266": 85,
                    "1267": 100,
                    "1268": 89,
                    "1269": 82,
                    "1270": 84,
                    "1271": 150,
                    "1272": 55,
                    "1273": 141,
                    "1274": 28,
                    "1275": 21,
                    "1276": 100,
                    "1277": 36,
                    "1278": 122,
                    "1279": 14,
                    "1280": 161,
                    "1281": 135,
                    "1282": 60,
                    "1283": 171,
                    "1284": 134,
                    "1285": 70,
                    "1286": 1,
                    "1287": 209,
                    "1288": 148,
                    "1289": 63,
                    "1290": 182,
                    "1291": 54,
                    "1292": 118,
                    "1293": 127,
                    "1294": 120,
                    "1295": 61,
                    "1296": 245,
                    "1297": 193,
                    "1298": 193,
                    "1299": 85,
                    "1300": 151,
                    "1301": 23,
                    "1302": 90,
                    "1303": 59,
                    "1304": 119,
                    "1305": 37,
                    "1306": 181,
                    "1307": 122,
                    "1308": 10,
                    "1309": 145,
                    "1310": 65,
                    "1311": 11,
                    "1312": 217,
                    "1313": 134,
                    "1314": 178,
                    "1315": 187,
                    "1316": 73,
                    "1317": 59,
                    "1318": 162,
                    "1319": 129,
                    "1320": 230,
                    "1321": 179,
                    "1322": 10,
                    "1323": 147,
                    "1324": 207,
                    "1325": 174,
                    "1326": 253,
                    "1327": 143,
                    "1328": 10,
                    "1329": 24,
                    "1330": 142,
                    "1331": 208,
                    "1332": 223,
                    "1333": 95,
                    "1334": 163,
                    "1335": 127,
                    "1336": 214,
                    "1337": 29,
                    "1338": 171,
                    "1339": 180,
                    "1340": 95,
                    "1341": 35,
                    "1342": 145,
                    "1343": 203,
                    "1344": 82,
                    "1345": 203,
                    "1346": 226,
                    "1347": 113,
                    "1348": 45,
                    "1349": 45,
                    "1350": 182,
                    "1351": 169,
                    "1352": 82,
                    "1353": 252,
                    "1354": 175,
                    "1355": 248,
                    "1356": 85,
                    "1357": 49,
                    "1358": 40,
                    "1359": 150,
                    "1360": 113,
                    "1361": 28,
                    "1362": 168,
                    "1363": 138,
                    "1364": 62,
                    "1365": 200,
                    "1366": 33,
                    "1367": 86,
                    "1368": 43,
                    "1369": 203,
                    "1370": 17,
                    "1371": 28,
                    "1372": 99,
                    "1373": 130,
                    "1374": 23,
                    "1375": 215,
                    "1376": 78,
                    "1377": 85,
                    "1378": 201,
                    "1379": 228,
                    "1380": 41,
                    "1381": 65,
                    "1382": 110,
                    "1383": 181,
                    "1384": 59,
                    "1385": 246,
                    "1386": 43,
                    "1387": 195,
                    "1388": 144,
                    "1389": 132,
                    "1390": 86,
                    "1391": 183,
                    "1392": 28,
                    "1393": 82,
                    "1394": 178,
                    "1395": 173,
                    "1396": 136,
                    "1397": 132,
                    "1398": 137,
                    "1399": 32,
                    "1400": 73,
                    "1401": 0,
                    "1402": 224,
                    "1403": 58,
                    "1404": 137,
                    "1405": 35,
                    "1406": 141,
                    "1407": 248,
                    "1408": 60,
                    "1409": 142,
                    "1410": 200,
                    "1411": 167,
                    "1412": 229,
                    "1413": 65,
                    "1414": 213,
                    "1415": 141,
                    "1416": 173,
                    "1417": 29,
                    "1418": 141,
                    "1419": 25,
                    "1420": 40,
                    "1421": 108,
                    "1422": 65,
                    "1423": 197,
                    "1424": 191,
                    "1425": 37,
                    "1426": 125,
                    "1427": 29,
                    "1428": 157,
                    "1429": 94,
                    "1430": 66,
                    "1431": 47,
                    "1432": 38,
                    "1433": 172,
                    "1434": 212,
                    "1435": 146,
                    "1436": 233,
                    "1437": 209,
                    "1438": 145,
                    "1439": 207,
                    "1440": 241,
                    "1441": 214,
                    "1442": 195,
                    "1443": 124,
                    "1444": 125,
                    "1445": 32,
                    "1446": 250,
                    "1447": 137,
                    "1448": 244,
                    "1449": 227,
                    "1450": 1,
                    "1451": 181,
                    "1452": 247,
                    "1453": 70,
                    "1454": 243,
                    "1455": 219,
                    "1456": 227,
                    "1457": 31,
                    "1458": 140,
                    "1459": 222,
                    "1460": 116,
                    "1461": 255,
                    "1462": 0,
                    "1463": 88,
                    "1464": 97,
                    "1465": 38,
                    "1466": 23,
                    "1467": 107,
                    "1468": 204,
                    "1469": 109,
                    "1470": 65,
                    "1471": 227,
                    "1472": 138,
                    "1473": 78,
                    "1474": 229,
                    "1475": 34,
                    "1476": 118,
                    "1477": 104,
                    "1478": 254,
                    "1479": 203,
                    "1480": 16,
                    "1481": 158,
                    "1482": 36,
                    "1483": 10,
                    "1484": 126,
                    "1485": 239,
                    "1486": 142,
                    "1487": 65,
                    "1488": 227,
                    "1489": 28,
                    "1490": 73,
                    "1491": 254,
                    "1492": 58,
                    "1493": 177,
                    "1494": 203,
                    "1495": 110,
                    "1496": 93,
                    "1497": 197,
                    "1498": 158,
                    "1499": 134,
                    "1500": 157,
                    "1501": 124,
                    "1502": 238,
                    "1503": 224,
                    "1504": 200,
                    "1505": 228,
                    "1506": 97,
                    "1507": 199,
                    "1508": 68,
                    "1509": 181,
                    "1510": 233,
                    "1511": 165,
                    "1512": 187,
                    "1513": 82,
                    "1514": 76,
                    "1515": 181,
                    "1516": 226,
                    "1517": 84,
                    "1518": 68,
                    "1519": 84,
                    "1520": 140,
                    "1521": 49,
                    "1522": 61,
                    "1523": 20,
                    "1524": 36,
                    "1525": 113,
                    "1526": 168,
                    "1527": 3,
                    "1528": 128,
                    "1529": 21,
                    "1530": 20,
                    "1531": 124,
                    "1532": 1,
                    "1533": 197,
                    "1534": 99,
                    "1535": 90,
                    "1536": 17,
                    "1537": 246,
                    "1538": 163,
                    "1539": 44,
                    "1540": 113,
                    "1541": 25,
                    "1542": 25,
                    "1543": 75,
                    "1544": 216,
                    "1545": 134,
                    "1546": 172,
                    "1547": 18,
                    "1548": 199,
                    "1549": 44,
                    "1550": 178,
                    "1551": 178,
                    "1552": 147,
                    "1553": 199,
                    "1554": 35,
                    "1555": 137,
                    "1556": 24,
                    "1557": 112,
                    "1558": 127,
                    "1559": 184,
                    "1560": 58,
                    "1561": 53,
                    "1562": 111,
                    "1563": 12,
                    "1564": 145,
                    "1565": 138,
                    "1566": 176,
                    "1567": 249,
                    "1568": 34,
                    "1569": 46,
                    "1570": 121,
                    "1571": 151,
                    "1572": 130,
                    "1573": 95,
                    "1574": 242,
                    "1575": 243,
                    "1576": 62,
                    "1577": 141,
                    "1578": 9,
                    "1579": 157,
                    "1580": 181,
                    "1581": 185,
                    "1582": 39,
                    "1583": 219,
                    "1584": 211,
                    "1585": 236,
                    "1586": 252,
                    "1587": 118,
                    "1588": 94,
                    "1589": 127,
                    "1590": 210,
                    "1591": 151,
                    "1592": 112,
                    "1593": 102,
                    "1594": 178,
                    "1595": 115,
                    "1596": 226,
                    "1597": 18,
                    "1598": 205,
                    "1599": 172,
                    "1600": 36,
                    "1601": 152,
                    "1602": 235,
                    "1603": 204,
                    "1604": 240,
                    "1605": 91,
                    "1606": 143,
                    "1607": 134,
                    "1608": 175,
                    "1609": 81,
                    "1610": 36,
                    "1611": 121,
                    "1612": 188,
                    "1613": 110,
                    "1614": 169,
                    "1615": 52,
                    "1616": 246,
                    "1617": 57,
                    "1618": 145,
                    "1619": 140,
                    "1620": 125,
                    "1621": 21,
                    "1622": 37,
                    "1623": 145,
                    "1624": 18,
                    "1625": 66,
                    "1626": 232,
                    "1627": 178,
                    "1628": 102,
                    "1629": 119,
                    "1630": 230,
                    "1631": 102,
                    "1632": 142,
                    "1633": 86,
                    "1634": 205,
                    "1635": 175,
                    "1636": 193,
                    "1637": 125,
                    "1638": 78,
                    "1639": 220,
                    "1640": 251,
                    "1641": 205,
                    "1642": 82,
                    "1643": 72,
                    "1644": 67,
                    "1645": 92,
                    "1646": 204,
                    "1647": 212,
                    "1648": 104,
                    "1649": 59,
                    "1650": 57,
                    "1651": 123,
                    "1652": 82,
                    "1653": 72,
                    "1654": 83,
                    "1655": 189,
                    "1656": 137,
                    "1657": 88,
                    "1658": 161,
                    "1659": 146,
                    "1660": 87,
                    "1661": 145,
                    "1662": 89,
                    "1663": 186,
                    "1664": 179,
                    "1665": 25,
                    "1666": 228,
                    "1667": 44,
                    "1668": 168,
                    "1669": 196,
                    "1670": 246,
                    "1671": 202,
                    "1672": 65,
                    "1673": 181,
                    "1674": 243,
                    "1675": 182,
                    "1676": 51,
                    "1677": 177,
                    "1678": 237,
                    "1679": 180,
                    "1680": 163,
                    "1681": 214,
                    "1682": 252,
                    "1683": 189,
                    "1684": 74,
                    "1685": 172,
                    "1686": 146,
                    "1687": 164,
                    "1688": 113,
                    "1689": 136,
                    "1690": 202,
                    "1691": 121,
                    "1692": 4,
                    "1693": 198,
                    "1694": 86,
                    "1695": 34,
                    "1696": 53,
                    "1697": 135,
                    "1698": 198,
                    "1699": 124,
                    "1700": 158,
                    "1701": 82,
                    "1702": 194,
                    "1703": 49,
                    "1704": 31,
                    "1705": 222,
                    "1706": 91,
                    "1707": 175,
                    "1708": 221,
                    "1709": 171,
                    "1710": 89,
                    "1711": 118,
                    "1712": 78,
                    "1713": 228,
                    "1714": 195,
                    "1715": 237,
                    "1716": 24,
                    "1717": 183,
                    "1718": 94,
                    "1719": 70,
                    "1720": 156,
                    "1721": 49,
                    "1722": 99,
                    "1723": 114,
                    "1724": 86,
                    "1725": 98,
                    "1726": 138,
                    "1727": 179,
                    "1728": 139,
                    "1729": 144,
                    "1730": 188,
                    "1731": 133,
                    "1732": 132,
                    "1733": 110,
                    "1734": 255,
                    "1735": 0,
                    "1736": 116,
                    "1737": 74,
                    "1738": 230,
                    "1739": 68,
                    "1740": 5,
                    "1741": 89,
                    "1742": 72,
                    "1743": 44,
                    "1744": 160,
                    "1745": 16,
                    "1746": 71,
                    "1747": 28,
                    "1748": 243,
                    "1749": 160,
                    "1750": 24,
                    "1751": 147,
                    "1752": 62,
                    "1753": 205,
                    "1754": 129,
                    "1755": 253,
                    "1756": 64,
                    "1757": 49,
                    "1758": 24,
                    "1759": 181,
                    "1760": 95,
                    "1761": 36,
                    "1762": 50,
                    "1763": 27,
                    "1764": 107,
                    "1765": 84,
                    "1766": 126,
                    "1767": 40,
                    "1768": 152,
                    "1769": 205,
                    "1770": 130,
                    "1771": 7,
                    "1772": 151,
                    "1773": 228,
                    "1774": 6,
                    "1775": 252,
                    "1776": 73,
                    "1777": 12,
                    "1778": 7,
                    "1779": 166,
                    "1780": 16,
                    "1781": 195,
                    "1782": 207,
                    "1783": 238,
                    "1784": 198,
                    "1785": 185,
                    "1786": 237,
                    "1787": 109,
                    "1788": 194,
                    "1789": 155,
                    "1790": 95,
                    "1791": 40,
                    "1792": 50,
                    "1793": 135,
                    "1794": 1,
                    "1795": 135,
                    "1796": 204,
                    "1797": 48,
                    "1798": 80,
                    "1799": 139,
                    "1800": 6,
                    "1801": 82,
                    "1802": 187,
                    "1803": 79,
                    "1804": 15,
                    "1805": 5,
                    "1806": 135,
                    "1807": 111,
                    "1808": 176,
                    "1809": 48,
                    "1810": 4,
                    "1811": 178,
                    "1812": 6,
                    "1813": 143,
                    "1814": 147,
                    "1815": 201,
                    "1816": 81,
                    "1817": 33,
                    "1818": 100,
                    "1819": 235,
                    "1820": 34,
                    "1821": 164,
                    "1822": 137,
                    "1823": 47,
                    "1824": 51,
                    "1825": 139,
                    "1826": 217,
                    "1827": 149,
                    "1828": 182,
                    "1829": 190,
                    "1830": 34,
                    "1831": 254,
                    "1832": 27,
                    "1833": 115,
                    "1834": 217,
                    "1835": 183,
                    "1836": 157,
                    "1837": 157,
                    "1838": 73,
                    "1839": 202,
                    "1840": 99,
                    "1841": 228,
                    "1842": 164,
                    "1843": 201,
                    "1844": 21,
                    "1845": 110,
                    "1846": 89,
                    "1847": 194,
                    "1848": 120,
                    "1849": 230,
                    "1850": 60,
                    "1851": 121,
                    "1852": 24,
                    "1853": 4,
                    "1854": 5,
                    "1855": 193,
                    "1856": 80,
                    "1857": 23,
                    "1858": 203,
                    "1859": 24,
                    "1860": 86,
                    "1861": 147,
                    "1862": 135,
                    "1863": 42,
                    "1864": 198,
                    "1865": 213,
                    "1866": 167,
                    "1867": 182,
                    "1868": 174,
                    "1869": 217,
                    "1870": 190,
                    "1871": 155,
                    "1872": 159,
                    "1873": 36,
                    "1874": 41,
                    "1875": 196,
                    "1876": 152,
                    "1877": 251,
                    "1878": 18,
                    "1879": 84,
                    "1880": 115,
                    "1881": 52,
                    "1882": 145,
                    "1883": 246,
                    "1884": 182,
                    "1885": 23,
                    "1886": 246,
                    "1887": 42,
                    "1888": 122,
                    "1889": 65,
                    "1890": 49,
                    "1891": 97,
                    "1892": 216,
                    "1893": 242,
                    "1894": 84,
                    "1895": 132,
                    "1896": 4,
                    "1897": 3,
                    "1898": 251,
                    "1899": 68,
                    "1900": 60,
                    "1901": 114,
                    "1902": 4,
                    "1903": 28,
                    "1904": 246,
                    "1905": 80,
                    "1906": 102,
                    "1907": 243,
                    "1908": 89,
                    "1909": 12,
                    "1910": 202,
                    "1911": 99,
                    "1912": 41,
                    "1913": 99,
                    "1914": 150,
                    "1915": 253,
                    "1916": 169,
                    "1917": 109,
                    "1918": 10,
                    "1919": 116,
                    "1920": 98,
                    "1921": 49,
                    "1922": 214,
                    "1923": 172,
                    "1924": 29,
                    "1925": 203,
                    "1926": 120,
                    "1927": 162,
                    "1928": 82,
                    "1929": 73,
                    "1930": 88,
                    "1931": 215,
                    "1932": 158,
                    "1933": 170,
                    "1934": 9,
                    "1935": 60,
                    "1936": 0,
                    "1937": 61,
                    "1938": 157,
                    "1939": 68,
                    "1940": 150,
                    "1941": 83,
                    "1942": 39,
                    "1943": 64,
                    "1944": 33,
                    "1945": 141,
                    "1946": 68,
                    "1947": 107,
                    "1948": 208,
                    "1949": 5,
                    "1950": 80,
                    "1951": 63,
                    "1952": 159,
                    "1953": 36,
                    "1954": 252,
                    "1955": 146,
                    "1956": 73,
                    "1957": 249,
                    "1958": 63,
                    "1959": 211,
                    "1960": 208,
                    "1961": 0,
                    "1962": 7,
                    "1963": 111,
                    "1964": 189,
                    "1965": 9,
                    "1966": 47,
                    "1967": 217,
                    "1968": 151,
                    "1969": 23,
                    "1970": 94,
                    "1971": 122,
                    "1972": 244,
                    "1973": 154,
                    "1974": 103,
                    "1975": 106,
                    "1976": 208,
                    "1977": 216,
                    "1978": 152,
                    "1979": 77,
                    "1980": 44,
                    "1981": 113,
                    "1982": 18,
                    "1983": 122,
                    "1984": 43,
                    "1985": 200,
                    "1986": 168,
                    "1987": 129,
                    "1988": 216,
                    "1989": 14,
                    "1990": 1,
                    "1991": 96,
                    "1992": 138,
                    "1993": 9,
                    "1994": 228,
                    "1995": 245,
                    "1996": 95,
                    "1997": 129,
                    "1998": 181,
                    "1999": 220,
                    "2000": 148,
                    "2001": 190,
                    "2002": 141,
                    "2003": 213,
                    "2004": 250,
                    "2005": 107,
                    "2006": 134,
                    "2007": 155,
                    "2008": 111,
                    "2009": 100,
                    "2010": 115,
                    "2011": 150,
                    "2012": 55,
                    "2013": 228,
                    "2014": 214,
                    "2015": 35,
                    "2016": 108,
                    "2017": 140,
                    "2018": 127,
                    "2019": 136,
                    "2020": 18,
                    "2021": 227,
                    "2022": 35,
                    "2023": 171,
                    "2024": 226,
                    "2025": 98,
                    "2026": 254,
                    "2027": 158,
                    "2028": 180,
                    "2029": 50,
                    "2030": 71,
                    "2031": 63,
                    "2032": 144,
                    "2033": 198,
                    "2034": 189,
                    "2035": 21,
                    "2036": 166,
                    "2037": 140,
                    "2038": 42,
                    "2039": 185,
                    "2040": 242,
                    "2041": 30,
                    "2042": 192,
                    "2043": 0,
                    "2044": 163,
                    "2045": 29,
                    "2046": 138,
                    "2047": 202,
                    "2048": 46,
                    "2049": 45,
                    "2050": 231,
                    "2051": 145,
                    "2052": 177,
                    "2053": 148,
                    "2054": 110,
                    "2055": 25,
                    "2056": 97,
                    "2057": 104,
                    "2058": 0,
                    "2059": 181,
                    "2060": 25,
                    "2061": 113,
                    "2062": 23,
                    "2063": 98,
                    "2064": 59,
                    "2065": 50,
                    "2066": 128,
                    "2067": 64,
                    "2068": 236,
                    "2069": 87,
                    "2070": 178,
                    "2071": 130,
                    "2072": 121,
                    "2073": 234,
                    "2074": 28,
                    "2075": 178,
                    "2076": 245,
                    "2077": 117,
                    "2078": 71,
                    "2079": 93,
                    "2080": 135,
                    "2081": 208,
                    "2082": 205,
                    "2083": 233,
                    "2084": 134,
                    "2085": 216,
                    "2086": 31,
                    "2087": 83,
                    "2088": 176,
                    "2089": 251,
                    "2090": 147,
                    "2091": 62,
                    "2092": 188,
                    "2093": 99,
                    "2094": 226,
                    "2095": 242,
                    "2096": 195,
                    "2097": 60,
                    "2098": 171,
                    "2099": 15,
                    "2100": 145,
                    "2101": 224,
                    "2102": 89,
                    "2103": 35,
                    "2104": 100,
                    "2105": 18,
                    "2106": 1,
                    "2107": 243,
                    "2108": 232,
                    "2109": 176,
                    "2110": 237,
                    "2111": 199,
                    "2112": 39,
                    "2113": 175,
                    "2114": 96,
                    "2115": 1,
                    "2116": 39,
                    "2117": 131,
                    "2118": 159,
                    "2119": 217,
                    "2120": 184,
                    "2121": 173,
                    "2122": 179,
                    "2123": 152,
                    "2124": 205,
                    "2125": 10,
                    "2126": 187,
                    "2127": 183,
                    "2128": 114,
                    "2129": 199,
                    "2130": 131,
                    "2131": 199,
                    "2132": 136,
                    "2133": 201,
                    "2134": 107,
                    "2135": 47,
                    "2136": 12,
                    "2137": 210,
                    "2138": 144,
                    "2139": 196,
                    "2140": 133,
                    "2141": 29,
                    "2142": 86,
                    "2143": 40,
                    "2144": 228,
                    "2145": 44,
                    "2146": 87,
                    "2147": 177,
                    "2148": 147,
                    "2149": 169,
                    "2150": 10,
                    "2151": 24,
                    "2152": 70,
                    "2153": 83,
                    "2154": 186,
                    "2155": 22,
                    "2156": 12,
                    "2157": 42,
                    "2158": 46,
                    "2159": 173,
                    "2160": 53,
                    "2161": 185,
                    "2162": 58,
                    "2163": 227,
                    "2164": 166,
                    "2165": 154,
                    "2166": 90,
                    "2167": 162,
                    "2168": 87,
                    "2169": 16,
                    "2170": 73,
                    "2171": 52,
                    "2172": 98,
                    "2173": 57,
                    "2174": 26,
                    "2175": 62,
                    "2176": 126,
                    "2177": 210,
                    "2178": 202,
                    "2179": 11,
                    "2180": 5,
                    "2181": 98,
                    "2182": 56,
                    "2183": 228,
                    "2184": 6,
                    "2185": 32,
                    "2186": 31,
                    "2187": 92,
                    "2188": 159,
                    "2189": 157,
                    "2190": 118,
                    "2191": 215,
                    "2192": 207,
                    "2193": 61,
                    "2194": 92,
                    "2195": 208,
                    "2196": 207,
                    "2197": 14,
                    "2198": 241,
                    "2199": 105,
                    "2200": 175,
                    "2201": 199,
                    "2202": 83,
                    "2203": 134,
                    "2204": 214,
                    "2205": 172,
                    "2206": 55,
                    "2207": 48,
                    "2208": 79,
                    "2209": 95,
                    "2210": 39,
                    "2211": 219,
                    "2212": 52,
                    "2213": 211,
                    "2214": 175,
                    "2215": 13,
                    "2216": 81,
                    "2217": 239,
                    "2218": 77,
                    "2219": 229,
                    "2220": 245,
                    "2221": 231,
                    "2222": 233,
                    "2223": 174,
                    "2224": 207,
                    "2225": 219,
                    "2226": 86,
                    "2227": 179,
                    "2228": 180,
                    "2229": 247,
                    "2230": 141,
                    "2231": 13,
                    "2232": 193,
                    "2233": 105,
                    "2234": 195,
                    "2235": 138,
                    "2236": 216,
                    "2237": 250,
                    "2238": 151,
                    "2239": 98,
                    "2240": 158,
                    "2241": 73,
                    "2242": 165,
                    "2243": 113,
                    "2244": 202,
                    "2245": 43,
                    "2246": 4,
                    "2247": 228,
                    "2248": 196,
                    "2249": 138,
                    "2250": 7,
                    "2251": 5,
                    "2252": 136,
                    "2253": 0,
                    "2254": 14,
                    "2255": 121,
                    "2256": 236,
                    "2257": 228,
                    "2258": 3,
                    "2259": 224,
                    "2260": 120,
                    "2261": 228,
                    "2262": 120,
                    "2263": 93,
                    "2264": 36,
                    "2265": 80,
                    "2266": 164,
                    "2267": 163,
                    "2268": 6,
                    "2269": 29,
                    "2270": 148,
                    "2271": 50,
                    "2272": 242,
                    "2273": 15,
                    "2274": 62,
                    "2275": 193,
                    "2276": 244,
                    "2277": 71,
                    "2278": 242,
                    "2279": 62,
                    "2280": 181,
                    "2281": 105,
                    "2282": 146,
                    "2283": 163,
                    "2284": 183,
                    "2285": 235,
                    "2286": 98,
                    "2287": 106,
                    "2288": 79,
                    "2289": 71,
                    "2290": 54,
                    "2291": 109,
                    "2292": 100,
                    "2293": 36,
                    "2294": 8,
                    "2295": 44,
                    "2296": 64,
                    "2297": 145,
                    "2298": 63,
                    "2299": 68,
                    "2300": 37,
                    "2301": 75,
                    "2302": 177,
                    "2303": 236,
                    "2304": 202,
                    "2305": 188,
                    "2306": 113,
                    "2307": 222,
                    "2308": 56,
                    "2309": 248,
                    "2310": 29,
                    "2311": 185,
                    "2312": 120,
                    "2313": 230,
                    "2314": 60,
                    "2315": 133,
                    "2316": 17,
                    "2317": 180,
                    "2318": 143,
                    "2319": 236,
                    "2320": 122,
                    "2321": 91,
                    "2322": 70,
                    "2323": 246,
                    "2324": 231,
                    "2325": 199,
                    "2326": 197,
                    "2327": 190,
                    "2328": 242,
                    "2329": 246,
                    "2330": 49,
                    "2331": 248,
                    "2332": 21,
                    "2333": 181,
                    "2334": 7,
                    "2335": 235,
                    "2336": 25,
                    "2337": 42,
                    "2338": 171,
                    "2339": 27,
                    "2340": 38,
                    "2341": 187,
                    "2342": 76,
                    "2343": 139,
                    "2344": 47,
                    "2345": 131,
                    "2346": 132,
                    "2347": 117,
                    "2348": 242,
                    "2349": 42,
                    "2350": 51,
                    "2351": 184,
                    "2352": 238,
                    "2353": 2,
                    "2354": 240,
                    "2355": 135,
                    "2356": 229,
                    "2357": 186,
                    "2358": 171,
                    "2359": 105,
                    "2360": 243,
                    "2361": 60,
                    "2362": 222,
                    "2363": 110,
                    "2364": 102,
                    "2365": 113,
                    "2366": 121,
                    "2367": 18,
                    "2368": 74,
                    "2369": 55,
                    "2370": 73,
                    "2371": 124,
                    "2372": 247,
                    "2373": 127,
                    "2374": 164,
                    "2375": 100,
                    "2376": 112,
                    "2377": 30,
                    "2378": 156,
                    "2379": 215,
                    "2380": 224,
                    "2381": 33,
                    "2382": 56,
                    "2383": 226,
                    "2384": 147,
                    "2385": 147,
                    "2386": 155,
                    "2387": 86,
                    "2388": 223,
                    "2389": 197,
                    "2390": 210,
                    "2391": 165,
                    "2392": 226,
                    "2393": 223,
                    "2394": 245,
                    "2395": 20,
                    "2396": 63,
                    "2397": 250,
                    "2398": 116,
                    "2399": 188,
                    "2400": 251,
                    "2401": 228,
                    "2402": 241,
                    "2403": 164,
                    "2404": 212,
                    "2405": 171,
                    "2406": 105,
                    "2407": 143,
                    "2408": 90,
                    "2409": 212,
                    "2410": 154,
                    "2411": 156,
                    "2412": 178,
                    "2413": 180,
                    "2414": 207,
                    "2415": 1,
                    "2416": 54,
                    "2417": 195,
                    "2418": 143,
                    "2419": 75,
                    "2420": 47,
                    "2421": 149,
                    "2422": 192,
                    "2423": 11,
                    "2424": 235,
                    "2425": 227,
                    "2426": 198,
                    "2427": 35,
                    "2428": 63,
                    "2429": 159,
                    "2430": 178,
                    "2431": 125,
                    "2432": 254,
                    "2433": 67,
                    "2434": 24,
                    "2435": 250,
                    "2436": 26,
                    "2437": 34,
                    "2438": 193,
                    "2439": 228,
                    "2440": 106,
                    "2441": 144,
                    "2442": 241,
                    "2443": 227,
                    "2444": 244,
                    "2445": 102,
                    "2446": 30,
                    "2447": 250,
                    "2448": 131,
                    "2449": 251,
                    "2450": 233,
                    "2451": 63,
                    "2452": 142,
                    "2453": 141,
                    "2454": 21,
                    "2455": 161,
                    "2456": 121,
                    "2457": 42,
                    "2458": 68,
                    "2459": 202,
                    "2460": 188,
                    "2461": 253,
                    "2462": 211,
                    "2463": 15,
                    "2464": 159,
                    "2465": 245,
                    "2466": 164,
                    "2467": 209,
                    "2468": 161,
                    "2469": 18,
                    "2470": 30,
                    "2471": 166,
                    "2472": 210,
                    "2473": 245,
                    "2474": 82,
                    "2475": 207,
                    "2476": 251,
                    "2477": 176,
                    "2478": 255,
                    "2479": 0,
                    "2480": 196,
                    "2481": 154,
                    "2482": 52,
                    "2483": 104,
                    "2484": 120,
                    "2485": 41,
                    "2486": 210,
                    "2487": 159,
                    "2488": 71,
                    "2489": 129,
                    "2490": 163,
                    "2491": 70,
                    "2492": 128,
                    "2493": 63,
                    "2494": 47,
                    "2495": 235,
                    "2496": 163,
                    "2497": 242,
                    "2498": 231,
                    "2499": 70,
                    "2500": 141,
                    "2501": 1,
                    "2502": 197,
                    "2503": 143,
                    "2504": 191,
                    "2505": 236,
                    "2506": 52,
                    "2507": 159,
                    "2508": 35,
                    "2509": 70,
                    "2510": 141,
                    "2511": 9,
                    "2512": 160,
                    "2513": 248,
                    "2514": 26,
                    "2515": 7,
                    "2516": 177,
                    "2517": 201,
                    "2518": 209,
                    "2519": 163,
                    "2520": 64,
                    "2521": 3,
                    "2522": 228,
                    "2523": 13,
                    "2524": 31,
                    "2525": 0,
                    "2526": 241,
                    "2527": 163,
                    "2528": 70,
                    "2529": 128,
                    "2530": 110,
                    "2531": 63,
                    "2532": 240,
                    "2533": 208,
                    "2534": 255,
                    "2535": 0,
                    "2536": 89,
                    "2537": 191,
                    "2538": 238,
                    "2539": 147,
                    "2540": 70,
                    "2541": 141,
                    "2542": 26,
                    "2543": 17,
                    "2544": 103,
                    "2545": 255,
                    "2546": 217
                  },
                  "contextInfo": {
                    "mentionedJid": [],
                    "groupMentions": [],
                    "disappearingMode": {
                      "initiator": 0
                    }
                  },
                  "viewOnce": false
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 221,
                      "1": 87,
                      "2": 156,
                      "3": 79,
                      "4": 181,
                      "5": 54,
                      "6": 255,
                      "7": 212,
                      "8": 18,
                      "9": 158
                    },
                    "senderTimestamp": {
                      "low": 1761086824,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 202,
                      "1": 163,
                      "2": 187,
                      "3": 77,
                      "4": 39,
                      "5": 252,
                      "6": 57,
                      "7": 150,
                      "8": 163,
                      "9": 116
                    },
                    "recipientTimestamp": {
                      "low": 1760721727,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 100,
                    "1": 45,
                    "2": 144,
                    "3": 71,
                    "4": 98,
                    "5": 46,
                    "6": 166,
                    "7": 194,
                    "8": 156,
                    "9": 80,
                    "10": 192,
                    "11": 217,
                    "12": 201,
                    "13": 138,
                    "14": 90,
                    "15": 185,
                    "16": 90,
                    "17": 83,
                    "18": 185,
                    "19": 222,
                    "20": 151,
                    "21": 49,
                    "22": 39,
                    "23": 144,
                    "24": 86,
                    "25": 151,
                    "26": 35,
                    "27": 61,
                    "28": 248,
                    "29": 251,
                    "30": 124,
                    "31": 159
                  }
                },
                "base64": "/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCADTAlIDASIAAhEBAxEB/8QAHQABAQACAgMBAAAAAAAAAAAAAAEGBwIDBAUICf/EAFMQAAECBQMCAwUEBQcJBQYHAAECEQADBAUGByExEkEIUWETFCJxgTKRobEVdLLB8BYjJDQ1QuEXMzZDRFJiotFTVGRy8QkYJXOCtDc4RUZ2s8L/xAAcAQEBAQACAwEAAAAAAAAAAAAAAQIDBwQFBgj/xAAvEQEAAgECBAMGBwEBAAAAAAAAARECAwQFEiExBlFhQXGBkbHwByIyQqHB0RNS/9oADAMBAAIRAxEAPwD8548uqClyJKkboAbbsY8SO2TUzJIKUsUnkEOIMO2gSoTSshkAF48ZZBWojhzHdNq5k1PQAEp8gGjogKlJUelIcmPIFBOIclIPkSI5UxEmnXUD7X2R6R4ylrUepSiTAWbJmSSy0tHUrmPOp1+8SlyZhcpDpJ7R4Sti0B0zIz1A/wDh9tP/AIKT+zGBTIz1AJtttY/7FJ/Zg49b9Di2zDcRQXO/HziFJ32EQnbh4PDUOOBHNwRz+EcNudooLAvAmHI7cmIxcH8Ir+UTmDIDtDaDDzEAn8fWAvfYRC3lx+MNor94MzCdL7vzDpA4MHEV/PeIlIRtDgPB+fnF5HP+EEpx57Rd4bc9obecLKH22ifWKR67Q9RFKQktzAE9u8U7d4n0gDtsDFBL9okPxgg5G7uYr+jRPWLApN2ZoP6w7tyYflAo4in1iAtCBRDfmEUbQE/jeK4IDxIp4giMGbcvF2J3dvKJv6Qf0gUMRw0O3P4RfuhBKQ7cmHl5w+UTmM0UdW3MNh90A3mIBO/z9YFKdyWHyiFvLj8Ymw3beKTyWirQB6s8GA4/ODiG/wA4FB3ENgH+sH584cjn/CI1EDk9oD67xB59ofWHZuIXbp2ETg8xSe2zQfuN4sNRASW527wH5jmBP4wO/b8YrcQg22B2PnFfvtBmDfdHEncbvBywJ5d3MVWzloJ2AMVR2g3Dhu3G0ckk7xx4LcmOXCedmg5IcWIbb0il+5O/pEBby++G7gtBpdu27R20Seqrkjj+cT+YjpHLCO6k2qpPn7RP5wVil2o1KvFeUTEqPvM3b/6zHiGRNSxKC3yjsuilIvdepJYiqm/tmPLlVEyol/Cr408pPBEB6+Eef1UJ3VLUD3HlCCPAhHkqoJjPLWlfyMdK5M1BZUtQ+kBwhCEB5VKUzZK6ZRYndJ9Y6VU85CukoLx1gtuI701lSkdImn0gO2XLNJJXMmbLWGSI8FXMd/RUVCnIUo+ZjtFvISZk6YlIA3A3gPXTIz1Di323b/YpP7MYZNmUkoNLllZ81RmvUZlDbVM39Ck8f+WDGp1xcHBZ343i87Rx3fh22h1EcGDxaUpfg7wYgfFESSOQPWOTuHeCU48GOQILKIisGAMcS6Ty30gkwr7/AEigt2EAX5G8QBgGgzQQ/EVm3IaA/KJ28/OCHm8X5w7xBsfnAN24ZovyicwLbwSgcF4PsIEPtF+kChzx6Q7uzxBuO8O8Cl+nrAH8Nomzw24YQSgebfOB3Ih2+sCD6fdAoYAu8N357wZhv+MGA5glDRCDF+nMD95gI6j2EPiPAiu7bw+sBC7MST9IjntF6uw2+cOo9+D5xLAHfiG/YPvFcN6ecAAT9Yo4u7fLeDnZ4rb8P2iOAdt4Bue+8H235iAEdvnFJ7kxLB94O7KIhsABB/VvRokyUPv9IAt2EVvMRAGAaFpQQ/EXjchjxEH5Q7efnBaPN/vijd3MTvAbH5wpaHLMAzRfUROYbbxekLQNgXhyB93ECH2gBtxE7rC+hPbyhtsWftEG42eDsd+Y03EH/rBJLnsBt84hZ4oYfCw4g3ANt/vji7q845Hjc7ExAD6fdByRClgXdo4kl+e8FbDcv84MAC/PrByRAA/IO8VfLExAO/T6xFcvyYNwO+7CG53EHcBzBvWCqeGJO3pHZSf1qS3/AGifzjq9OI7qT+tSfWYnn5wWGGXf+2q/9am/tmOqWtUtYWksQY7bv/bVf+tTf2zEm0dXTpTMqKWdKQv7KloKQfkTAeX7/KO6pAJ77QjwYQRUqUkulRHyjuRW1CA3X1D/AIt46IQHl+808zadIA9U7RxqqeXLQibKJ6V9jzHKVJl06BUT2JP2U+cdE6euerqV9B5QHXHlpEqmkJmKR1rXw/AjxI8qb/OUUtf+6SIDgusnrDBXSPJO0cqRXWqZLWX60948aOcgqTOSpIJgPGmhiQe0Z2j+z7cSP9hk/sxiFXQzDNUrZKTu5jMlJCKG2pSoKHuUl/ugzn+l1PvF8ooZ2D/SDA7u0Hj0AnkvG2rt4V9aca0lr9aMuxc49YaKZTS5cq5qVJrar28z2aVS6dipKQdyZnQ4Lp6o1IxG3MfU+I5FkGT+B7WO55NfbhdqwZJj0r3iuqVz5vQlY6U9SySw7CCxET3YXh/hNynKLRYbhcdU9MMZrMnp5VTaLTfMjEmvq5U0tKWJcqXMCOshkhaklwxAIIjU+ZYfkmAZTdMNy+1TbdeLPUKpqulmMTLmD1BZQIYhQJBBBBIIjYmiWhMvN5B1G1JvcnEdMLPUhF0vdUWXVKSOo0dFLHxT6hYDMkEIBKi5ASr0fiD1URrXrPlep8i3roZF9rfaU1PMI9pLkS5aZUoLYkdfs5aCpiQ5LEiCTjFNfbeUGI4AbyiORud45OfWDEw4ueTFKg+/3tFaJ0gjcCCUrhmI+cefYMev2VXimx/GLLW3a51qyimo6KnVOnzVMSQlCQSrYElhsATHr9gosTHmWe9XrHbjIvGP3astlwpiTIq6OoVJnSiQUkpWghSXBILHgkQSvNsTVvw5am6ISsWGotJb7dW5XLnzKWh99QqbTCXMSg+8L/zUtysHZZYP1dJBEZlP8F2fLpbrJx3UjTPJsgstHMrq3GbLkXvN0ly5e80CWJYlrUj+8lMwl9g5YH2/imqKir0F8OdXVT5k6fOxu5zJkyYoqXMWatJKiTySSSSYyjwkydFP0vLl6TXzJZOuFbj9VRWWXksiVLsouM2lmCeaddP1rKggTRLM/oSeoOFFgDfJjzU+Pnfby+sUt6xyqJE6knzaaqkTJM+StUuZKmJKVoWCxSoHcEEEMeGjh1Df74OKiHP2h8t4hIi9QO8CkI8/nFIL7A+gg484ODxvBKe+wjAM11Jv8jFcCxq4X66zx1JpqKSZiglwCtR4QgFQdaiEh9yI97rNopmuhGUUmHZ6KBN1qrXT3RUmjqPbJkIndQEtawAkrBQX6CpPkoxillyO/wCM1M6rxy+3G1T6iQummzaGqXIXMkqbqlqKCCUlg6TsWj7K150VyTX/AMTWnOnONzZdOqp07sdTW1czdNJSS5avazekbrIBASkbqUpI2BJBuMbx6d3zjhPh21Cz3SbL9abYbdS41hnQmqmVk1aZlXMLdUunSlCgpSAuWVdRQP5xLE7gay+g38o/T6ZpVrFO0r1f0ysulF2sOHW7FqWyYNbqibIM6vUmqVMqqub0rb285TTFu23SP7pj8wgo8l/lBc8OWnF+wLwJPJdo5EhiwjidnEGKUkdn9Im/nBhyRzzDfjt5ROpR+AEbJ0Z8O2revVzFBpzidRV0yJyZFVdKj+ZoKRRKX9pPVs4CknoT1LIOyTGtyG27RvXwY5FkEjxD6d4zIvtwl2apyWnqZ1uRVLFNMnAMJipQPQVAAfEQ+wiUuONzUsW0/wBAMs1E1Xu+kVrvVht9zsf6QVWV1wnzkUSEURV7ZfWiUpfT8JIJQPVo6NTdHKTTa2Ulzkaxac5gauf7A02MXWdVT5I6SeuYlciWAjZnBJcjaNi4nqpiOk3iN1auWb0N+qbVkCMlxyYbHMlS6yV73UKQZktU34UqSkKIJBZXTsQ8et1K0b0nrdFpWvGhF6yuZZqG9px+9WnJ00xq6WeuWZkudLmyAlEyWQyWCeoFQPDtqGuSK6NCvu8XygBuwP3QPnBx8qgnkvEAPLRPSL6OInUo/FhDcud4b/7pgeWh1Kbb0d8LGtGt9JNvOIYwaewyJc2ZMvdyUqnoT7NKypKFsVTVOgpIlpWx+10jceg0k0WzLWW53Ckxpdrt9vstKa28Xm71gpLdbKfdlz5xB6eoggAAqO5ZgojdfgAyLIavWeTjlXfrjPtNDjl8m0tBMqlqp5C1UyypSJRPSkkkuQAS5j2OkSNLbf4Gr/cNULxkVBarpqVLoq2nxyVJ/SF1Em3S5tPTGZOBRLlJWubOKlAgGWwDqg5YwiYiWgNUdKjphOtqUajYRl8i5ImKRU4tdjWy5JQUuiaFIQuWr4gR1JDh2dowYkPv97RurXDR3AsbwHDNZNIrvf6rEMxmVlGmkyBMkXChrKVfStC1SQJcxChukpAZi/MaVABHDQ6sZY1I4ZiD6wbd/OK4CjuYnbYgGFJQd93J8oP9Yjbc/wCMVtw4h0KHfby+sbcu/hX1oxrSSv1oy7GFY9YaKZTS5cq5qVJrar20z2aVS5DFYSCxJmdDgunqjUe3Ij6nxHIsgyjwPayXPJb7cLtWfyjx+UKiuqlz5oQlfwp6lklh2HAiuTHGJ7sExrwyU2T2i1XSV4jtGaCfdqaRUJt1bfqpFZIXNSCJE2WmlUBNSVdKkgllAgE8xhOs2k960R1CuOmuS3mzXO52pMr3mbap02ZIQuZLTMCHmS5auoJUlx07Et5xsbwgY9aaPLcg1wyqkl1Nh0ktC8iXIm9IRVXJzLoKck8FU8hQLHeUB3jSmR5Bd8tyC5ZTf6xdXc7vVza6snqDGZOmLK1qIGwdRO3EG6inrW8/mYpJDljtwIADz/GOJ+Ljf0gsQbnZ3iht23gwBZ/UwUX+UHJEOKiSQ53jvoqKrudbIt1upJtVV1c1MiRIkIUuZNmKICUJSN1KJIAA3JMdPPMd9FV1ltqpFwoaqdTVVNMTOkTpSyiZLmJLpUlQ3CgQCCNwWg22hqP4ZNXNI9OrTqRqLZJVjpL3X/o+lt9TNavCjKM0TJkoAiWnpBHStQWDygDeMox7wV6n5DbLIpeW4HasjyW3fpWzYlc757C9V1OpKlSlIk9BQkzEoJSFzEnz6SCBkeod3ut+8BeF3i93OquNdVajXFc+qq56ps6ar3Uh1LUSpR45Mb0yCp0Gt3iR0zOuV8vaNZsforLS18m1oBx+XdpSEKoTVTekTgrqXIK/ZBUvYAkDqc1EPzwuFBW2mvqbVcqOdS1lHOXTz5E5BRMlTUKKVIUDuCFAgg9xHj8RmutdozCx6vZlbtQqenk5Im91k26JpgRIVUTJqlqXKff2airqQ+/SUxhW/HbygH4AR3Uje8yT39on8xHUQ23aOyl/rMnsPap/MQWHobfKlzs2mompCk+9z1MfMdRH4gRnVzo01lnrETEAoTIWtz2ISSD94jDLHIVOzqa2yRVVDn6LjYF2lqXZa2Wj4JQpprqPf4TAau6bcNiVFtnhHH2VCNjOJb0hBHhxylp6lpT5mOMeRQped1HhIJMBa9X88EDhAAjxo5TV+0mKW/JeOMAjzaVHvFKuT1AdJBcx4UdtPO9ityHSdiPSA7uijk/bWZivIcRxXXdO0iUlA/GOaqL2o9rTKCknkHtHX7hNB6phSlI5JMBwrlLnSZc5yX2MZgn+z7dz/UZP7MYfOqkSkiTKSFIB3ccxms7p90txSkAGhk8fKDOfZ1DniI/pD0/dACDhCSN42ZjOs5x7QfMtFP5N+8fytudBcv0n750e7e7Kfo9j0Hr6vPrS3kY1n35+UBv29ID6RqPEtopken+EYLnvhvrrwjCLQm200ylzidQSJkwnqn1PsJdMQmZNmEqUXUeA5aNJ6g3jCb/ks256fYPPxOzrly0y7ZOuy7kpCwllq9stCCQo7t07RjQ9BF6lD5c7wJuRm5iA7h9vKL1PuxcRdlPx98GaRz3L7cQ6mcnvFAHAMQp2bmCU5B2cHaICOXidKhs0RiezvBKbYzjXSTmuJaV4tUYTTplaZ0c2jWKmsVNlXZK56ZpC0JShUpJCSkhKySCWUDGdWTxPaQ4BdZ2baR+GKgxnNBKmpt91qcoqbhS26bMSUrmyaSZLSnqCVK6QpZCX4I2j5tf8TuGi78gsPWDVy7Js6ZVT5lRUzFzJsxZWuYtRUpaiXJJPJJ3eOBAd+8cXbd4vUex2HG0GaUJ3cxCkE8kQLkd4nUWYk7doJyqQWY/WATz2aJ1F+fug5JG+8DlXoJ7bxsrXzWZWt+T2XIv5NfoX9D47QWH2PvnvPtfdkqT7Xq6EdPV1fZYs3JjWnDH794OOxP1gVNU2XphrN/k40+1JwX+Tf6R/yg2umtvvXvnsfcfZTTM6+j2avau7M6W8zGtC3ltAk93b5wHZ3MEm5G8zxA+kC/EXcDyMCk7u20PRog7vzHJt3O0Sijn/AAjMtGtRf8keqONalGz/AKV/k7XorfcvePYe36X+H2nSrp556T8owwAg7M0Dv/0hREV1bUx7VnT4ZtmOSaj6L0eX27La2bXIpF3mfRVNtWueub/M1MpP/H0q6pZ6ukbDcHztUdfbPlOn9DpHpjppS4FhdNcDeaqiRc5twqrhXdJQJs+omJSVJSggJR0gBn32A04xJ447xTsr/pFW5qlHPER/SHp+6AEEoLiHIf8Agw78/KA37ekSijt5esA3PnAeggSf37wKbM8Pmso0H1BVnX8nP051Wuttvunvnu39YlGX19fQv7Lu3Tv5iPM0j1ytmDYnfNM9QdPabOcIvtTJuK7VMuC6CfS3CUOlFTT1KEqVLUUEoUOk9SWGwcK1PzuxcQ3L7/jFWJmG0tZdbafUm0Y1hGJYVIw3CcRl1H6KskqvmVqxOqJnXPnzqiYAqbMUoBiUgJAYAOY1Zw584o8geYHhufWBPXrIHbbj5Q9RBjxEcH1eJRSgkB2aHy7wf0O58oMeeB6xVpAQSx2jZuNaz/yd0IzLRP8Ak57wcuulvuX6T986PdvdlP0ex6D19Xn1pbyMaz2G8OeOBxBY6NlWLWQ49oLk2itBjUtM/K73R3O4Xk1PxKpqZLyqX2XRu0119fXs5HTu8a1LExCxHeJ1Hjf5QapVKLM3zgkcuGaIOf8ApFJ3HnBuIU77MX/KODniG2xPflzDbs+/nBuIUB9+w9IqiO3EDsPQRxHYlzBqGzLvrN+lPD5YtCTjfsv0HkVTf/0r74/tvayij2XsegdLO/V1l/IRtOr8X2neSZLatUdQvDZbL/qRbE0y1X6VkVRR0tXU04SJNRPokSylah0If4wFdIHAAHzAX4i7geRg099nmb5BqTml5z3KqlM+632rmVtUtKelPWs/ZSOyQGSB2AAj0Ho0B3fmK27naCHP+Ed1COqsp0nvNQPxEdABB2Zo76MtWSD3E1Jb6iA8C21UqnzSZKlJBV7zUE/cuMrvM6ZMtFcVqJ/o039gxg1rL51NP/iqn8lxnFyQZlqrUJ5NNN/YMFashHm+6Uw2VP3HMII8KPLp/wCbpZs7ufhEe6hAY1HdJpVzR1khKB3Me/hAehnUplIExK0rTw4jojJYQHpaFRUJkh26xt84kkqmS5tOsl2cPHu44q7wGKzYz4Hqt9sL7igkj8I9HP4jI6wf0a3b/wCwyvygmXZ4rt2hvtvDcfUQEHHS7NvvEPzh6NAtvvvApW+cD5QYdiPvg7ncPv8AKCUh3DkvAbdjF2dh2gQN9xBKQHdxzF6leX3xeO4DxOnmBSdW3HpHIqS3+EcWPcHbygxZgOIJSuANuwi7PxzHFvnB22fYesEpSU/N4MkliGiAknmL++BQwJ52MRt9jt8oFm/CAA7cesCght3J+sGDbn7oOXeB52/wgUnfndou3Lt84fQCAPoYFBY94B2Ycw8ngx52gUDfYg7wZjBwNiRAE9y0Cgvuzv8AnDj4TDk7t9IjjndxApfz9IM5Hp6QKuXH3w6gfPeCcqN6xQAS4MQqDB+OYOOxMDlV27NvDfzg7fURAoepgcrls3nEMTqHDQKhvvvBaVt+TAg8Ofuh8J7j6xA6lBKUkknYCCUEEhyp4D1do2DjWgeruVSvebbhVbJkMCJtaU0oUDuCkTSkqB8wCIy0+EHVz3T3n/4J7R29399PtPm/R0/80ey0uD8Q18ebT0cpj3S9Vrcb4Zt8uTU18Iny5o+4aRYctvBvIcecbCyTQTV3FJPvVywqsmyGKjNoSmqCQA5KhKKikAd1ACNen4SUqSQRyD2MeJr7bW2uXLr4TjPrEx9XnbfdaG7x59vnGUecTE/QYctFLN/hHHqP3QdTMO0cDyKXt8hF4O8cfi7E7wAPBOw9YLSlQ7F3ibqLHaKA53LiLsOO8FiHHpJPofKOQH+6GECQB68Rxfy48jBqIVRbdyfrHE7h1bfKDkl4F3Yf4QaiBi/Llo5DpAd2+cAG3IAidT8AwWBRB7lhAOzDmHk8GPO0Ggb7EHeIzGLxsW2gH7loCF92d/zhx8JisSd2+kT13cesBfz9I7aNvfafq7TEOG9RHUe7x20h/pUn1mJ/OCxD09uly05vMUiYC9VUbeWy4ziqWE22t6iz000P/wDQYwK1f6czf1qp/JcZvdf7Hrv1ab+wYDXKqOf1FkE78wjoFTPAYTDCCMhhG78R8JmaZFhVnz3Is8wHBrbka1JsqMqvSqOdckjb2kpCZa/gct1LKRuDwQTtbxlaWZxmmvmmmluM2Y12RTdP7PRCnlzElIXLVUBajMfpCEhJJU7MIK+OoR9AXbwYZ5ItV/rcT1G03zW44xJXUXSyY1fV1VxkS0FpivZKlIC+jfqCVEuGDnaPX4N4Ss0zbTC3awTc8wTG8XuNXPovfL/dZtIKebKX0NMaSofGr7ISVEsSQADAaPhH0xP8Auqltv8AIx7JNQNNbDUXSoTT2Jdxvy0IvpUhCgqiCZKlLT8aUupKPiLR6/RTTTxD4xm+puE4JkNpxe943Ya2Xksu4ITNTPopZHtZUomTNHUrYpUOnYj4hBHzvHFXeN9474Pc3venWP6rXTUHT/GcZyJEw09bfbtNpUypiV9AlL/mVOtTKICOv4UqKinvjOaeGfVTDdWrbozOt1Hdb9e0SZtqm22p9rS18maCUzZU1QT8DJU5UA3SSdt4K1FP4jI6s/0a3fqMn8jG5R4Jc5uFxr7LY9U9MLxcrQiau50dvvs2dOofZpJUJqBIdwodHw9QCixbmNOVqVopLYVIICqCSpJI+0Nxt9QR9IJMPDbzeG23beB/OB352PaCUAb88w3DbwcHeA4eCUB/OBZ9j6QDw+XMEpezxA4O30hs8IFD7uYD/wBYcb/vhuxcbHiCUrkNvtE35eA/3Yp3AJgUOQzvE77JHlB4H/1glBZuzQf+Hh8n55gPOBSkDyd+Ij7B4bORB3f1gUD8ou+7iIeed4QDuzw447eXaBYj0hwCOYCflF6oE7kvxzEcDz+kBRuAzQYdwDE6htF6tiSG7QWlfh4gbn8I4uBFfbbeCUDcD+HisAePuEcXPIJeAUe0FpSP+HiAby/GBWW25h1Fh/H0gcq9I7g/fEZO2zbxCo/fAqJ5LHtA5VCQ/wA4NxE6n3eKnqUQEglRYAAcwSmQYLguRah5DT4zjNKJ1VOdSlqLS5EoH4pkxX91IcepJAAJIB+29KfD9hOmVNIrPcpV0vyQ8y5VCHKFeUlBcSwPMfEXLltg8P8ApTTaZYTTmspEpv11lpqLlMI+JBO6ZPoEAsR3V1Hhm2fHa/hzw5pbHSx3O5xvVnr1/b6e/wA5+EevSnirxVrcR1strtMq0Y6dP3es+nlHt7z6IQhH1z4cjV+q3h+wnU2mn1iaOVar8odUu5U8titXlOQGEwHzPxBgx7HaEI8fdbTR3unOlr4xljPn99J9XlbPe7jYasa+2znHKPbH9+cek9H5q5xg+Rad5FPxnJqQSKqQykqSeqXOll+mZLV/eSWPqCCCAQQPQcbu3rH3z4gtKKbU3CahVHSBV+tUtVRbZiftLI3XJ9QsBgP97pLs7/AqgRsoEEbEesdPcf4Plwfc8kdcMuuM/wBT6x/jvfwzx3Hj20/6ZdNTHplHr7Jj0n63CuAzxHY7B+0cXgf/AFj0b6OnIqHkGiFRPf8AGHyfnmAB54gtBA8nfiI+weOTB2g439YKiQ/yEcuH2+rxCrfbmIS8FoJJLPtE447eXaKWI9IcAjmCp+UXqiE7k+XMAP4EAHAZofPeHlvF7EkN2gD7bmAbn8Ih/gQYNy/ygtA3A/h47qMf0ySByZifzEdPqHeO6jJFXIIHExJ/GDUPWWiTTHOpkoqPtDVVG/bhcZdeUFFqr0HkU80f8hjEbRUSBnMyYZR9oKqo+XC4y68KK7TXrPJp5p/5DBlq2EIQR9/63aOZ94oMR0o1B0Poqe+WG34nS2G40yK6nkiyVcgn2onha0lALuTuGQ/cPtXIMjxbT/xj4TaMlyqip5N30fpscor0qYBTpq5pnJlTvaHYJUUEBT/3x5x+aEILb7d8OGg+pPhY1Hu+sWuNJSYxiWO2mvkKrJlfImou0yZLKJUmmShRVN6yQQOkHYBn2jCNSqr3jwB6azZUpMiVPzu7zRJR9hG01gB6AkCPlmEB9qeJCdOVqp4Z0KmrKUY7jykgqLAmpQ5H3D7o2fYP/wA4Hii//idd/wD0So/NyEB9T6/TJg8Gvh/kiYr2ZVdlFL7Eiby3nuY3/X5djWG67+H2vyiukUEm56aC2Sq+coJRT1E6UUylrUeB1fC/moR+bMe4w84aMnoTqEm9Kx7rPv4sypQrejpLey9qCh+rp+12fjmA+vvDr4a9W9ItWr9kGo1FJt9Gm0XOkpKmZXSpirtMWhwuSlK1KUkpSVlSmbYHfj5SyCtp6u0YvTyA0yjsqJM3blZnzlj/AJVpjbFn1a8O+jdtv920UtOoF0yy8W6baqWsydNHIp7fJmt1rSmnWozFsByw22Zy+l6z+rW79Rk7/SA8XYHsPWDbb/nDcnZjDswB8oIEEDc+sb/yrwdZrgWit71dzXJrHRVdonUCBj1JUoratKaqZ0JVULlL6JHw/EkArKg79LRoDfj74+l9NH/9xHWRtycnsPH/AJxBXqLJ4atPrXiuK3vWvX+gwK5ZtRoudntaLFOuaxQTT0yampmS5iU06JhBIfq+EE9lBOq9VtNr/pDqHe9OMnMhdxsk8SlzadfXKnS1ITMlTkH/AHVy1oWHYsoOAXEbnOrfhx1YxXBqbW7FdQJWVYTZ6bGZK8UXSrpbvb6c/wBGRNE9QVJmAKKSZYU7k90pS/8AaD3GlrfEncaSTKTInW2y2ijqqdJJTTzhSS1mUCd1dIWkP+8GA+bGaDueHaHkP3QLM4eCUOIONy8HZy3MOdzBKH5Dx77BMYpM0zC14xXZRaMcpq+aUTbrdppl0tIgJKitagCeEsA26iA4dx6HY7R5lls11yO8UOP2Kgn11xuVRLpKSlkIKpk6ctQShCQOSSQPrApvC4+HLTq/4Xk+T6Ja902c3HDaE3e7Wmox2faJ36OSQmbUyFTZivapQSnqDJICh3KUq6sO8OWGKwTHM81q1rptO6bM5s4Y9Smwz7lPqpMpYlrqZoQtAkSesjpUonqG4DbxkN3nYf4U9Psv07or3T5Hq1mtvVj9/mUK+u343blKSqooxM/19SsoSlfT8KOlnBR/Oer8W8utVZdC60BRtszSizSqdaQfZ+2RMn+3S/HWFKT1d90vBaaw1j0oyHRTUa66dZLNkVFTbTLXKq6ZzIq6eYgLlTpZIDpUhQPoeocgxhT778flH0Z43lVUvN9PrZd53Xe7ZpnjlLeepTqFaJClLCu4Uy0liAdxtvHznwPJoJRD03LQ894Ad4JRuNxDz5eGx4huHBgU99gmL0uZ5dbMXrsqtGN01fOKJt1u00y6WkQElRWtQBPAIA7qKQ4d427cfDhp3f8ACsnybRHX2mzq44dQm73e01GOz7TN/RyT0zamQqdMV7VKCU9QISQFDuUpVpGy2a65Fd6HH7Fb59fcbjUS6SkpZCCqZOnLUEoQkdySQPrH0Xd52H+FTT7L9O6S+U+R6t5rb1Y/f5lCvrt+N25Skqn0Ym/7RVLKEpX0/ChmcFHxiIhj948IGY4rolkOsOX5TYaGfZZFsqZePUtVLra1citqPZSZs8yllFOhSepaC6yvoUCEsTGhgkjZ9zH0Lo1v4Q/EX+sYb/8Af1EfPe3Kd4EjF+Q0cSk8gxy9YgfufSAhHqPpDpI4I5iggluqALiAAHyjZemOmmmeUWCuybUzXK2YPSU1Wmhp6OXap91uVSso6zMFPLKOmSA49oVt1AhnZ9auN+Y2Jo/ozddWKq518+90ON4rjklFTkGR3F/drdJUpkjpHxTZyyCJcpPxLIbbkBkWc+HCkxbJsJlWfVbHbjhOoclVRZMvrETKGlCZauiemplK61yFy1/CpJcOQCQeoJ9zV+GvTTIsUym76LeISlzW84da518uVpn43UWszLfJb28+RNmzFCZ0AglJSkt9I9RrpqHYNTLlhekmi9jua8RwqmVZMcl1KOuvutVUz+ufUrQkbLnziOmWPTZJPSMwrE4t4ScEyvD6i6yL/rDm1mnY7dqejm+0oMXttR0mop5kxJafWLSkJIQ6ZZB32aYWnzKzHy9YdJbf84BRJ4BEXqDMAfKCUhQptyPONhaA4zKyrV3HLdUt7CTVe/TQU9QIkJM0JI8lFASfQxr11cOY3f4P/dDq4feS8z9FVPu//wAzqQ//ACdcey4PpY6/ENHTy7TlH1eq49q5bfhe41cO8YZV8u/wfbkIQjvN+bmCZbm2otvvc6zYRpJPv6KaUibOrqy7ybdSrKg4lyVFMxcxQbf4UpB7x1Y/qxNyvTyszHHcKutbdrfVTbbVY+JslFVJr5U0S5shS1qEsBKi5U/2d2faO3UHUqox24U2F4dZTkGZ3OQqfSW4L6JNNJB6fequZ/qpAVt/vLIKUgl27NMNPa7T/CZ9mn3mXVX66VVXdrncRI/m5lxqVlcyYmW4+AKIADh0pDsTHrYy1ctxlhp5zONTfSKxnpURNd/Sb9auHt5w0cNrjqaunEZXFdcryjrzTlF9I7VMRjPldTXp8e1cyYZza8B1I04Vi1dkEionWefIu0u4U9UZCAubKUpKEGXMCD1MxBALKjZ8aDXQZlhGs+HXfVbIaTMUXlVTZbHWUtGLeLPUzJPtFn3YFftPaplFJmGYSlmYAl9+RvYaupqRnjqzNxlXWriKievL+XzqvZXttjiejpac6eWjEVljf5eblmbmOnN+aO0RMT7brpRH566+YzJxXV3I7ZShPsJtV77KAT0hInpE3pA4ABWU/SP0Kj4g8X3uv+V4+7k9f6Mpvb//ADHW3/J0R87420sc9hjqT3jKP5ifv4Pqvw71ssOJ56UdssJ/iYqfr82lGHO+0CBwDHH5RXLMS3fiOq3dNOQ58to+i8b8M+jmTXi34DQeK7H5+dXZMuTRW+msFVOtcytmIBlU36S6kpdSlJR1CWfiPSxVtHzk2539Y+k9IsNxPw7SMf8AELrdP9pd0ykXvCMLp1NWXGckvTVtWpmpqULAWkn4pnS4BCelZYhoG6Yxf7TlNXhdXbJxvVHXzLXNo5SfazDVImGWZSQl+pXWCAzuWaNr+JDwxXPw427B1XvKZV0uWV26dVVtHKpRLTbKiUUJm0/tBMWJxStaklQCd0HaNneG2yWG6Scq8SN/1N02kamVlxqlY3a8kyKlt8qirpyiubdJ0qYrqV0GYr2KOkgr+IsyVDzvGrhd0s+hGhlzuuc43fqqhoK6hqZ9De0Vsy4Tp05U5VVJUN58kGWQub2XMQDuqCvjbcbiL58vE2PENw4MEPTtD5RezAfhE45584ARtHmWa3fpe70NoNwo6D36plU5qqyYZdPI61BPtJqgCUoS7qLFgCWMeIGIipSpakplJK1KLAAOSTBX0fbPC1pjm1XccP0n8S1qyzO6KkqKmnsox6opKW4qp0lU6VS1syYUzVBCFqSegBYSSCEuoYjoxoXieoeBZlqXqFqbU4Tj+I1Nto1VUrH13T3mbVqmjpCUTpZSUGWh2Cv84Ds2+wcSt1i8GNHU5xmtciu1lr7VNp8fxmnLpxxNXIKFVlwXwJ/spiuinDkBfxfadGA6Q694ngGnF/0uzrSCkzmy3+6U10nS516qbeUTJCClACqdlf3lH7Tb7gwWGCak2DT/ABy/y6DTfUOfmVqVTImLuE6yzLWpE4qUFSvYrmLJAASerq36mbbfFRtwRzG8/E3pbgeIUWn+pGmlDXWjH9R7EbtLslbUmpm22fLWETJaZxAVMlHqSUqV8R+InYgDRYciCqPUR20gBq5IB/1iQPvEdO2/Md9F/XacDn2qPzEB6O1y5gzma6D/AFqp7ei4zW7Aiz1zgj+jTf2DGJW6rmozualKgwqajn5LjNbrVg2eu65KD/Rpvb/gMGWpoR5XvNL/AN1/GEEe7hHuMOxuqzLLrHiFFOTKqL5cqa2yZiw6ULnTUy0kjyBUI+uazHPB9iWv9s8NVfolcryiRc6Sw1+WzslrJVVOrpikgqFNKIk+zK1BBACSxJBBAcr4uhH1ze9CdKqNXikFPivQNOZlEnGf6dUn3ATJ81K+Zn866UpH8518bRgmHaRYpk3hLueeSbIleZK1BpMdoq9VVOSE082RKIlmWFezYrWT1FBVvz2gNAwj9GJHg602xTK7XpnedAZeQWlMiTT3nPZ+ocihqpdRMQDMnSbcKkMiWosErQVKY7Hbq+EtTMRp9OdS8hwyTWSLrTWK6zqSVPC+pFTJQs9CiUEfaSz9JDElj3gMUjirvH2BlPhkwTMNcNHU6X2VduwLU21U11myBUz5/uwkDqr0GZMUpaWSAHKtirbtHvMP8OOmOWUuf6xYlpRLynH5WRzLBiWKTMr/AEXT+ykgCZVzqyfPTMWC3UmWFv8AEezdIfDc/iMjrP6rbt/9hk/lH1LqB4b9OKDOtJrgnDJeNU+XXJVtyDEEZGm5ppZiCWXLqpM1SyiYnf7bjbguI0brfbsVseoFdj+G2yZR2y0qXQISucuapZlzZg6nU5DBkgOdkgkkkwGBAAlwOYd/NoFu/nBoIb8CM5sWr+SWDSXJtG6Khti7LlNfSXCtnzZcw1UuZTl0CWoLCAk9wpCj5ERgxLj6d4Btt4DeOIeLHIsOtNlpaTSPSuvvGO08qntuRVuNBdzkCV/ml9aJiZa5iNmWqWVOHJJcnT+RZFe8tvtwyfJbnOuF1ulQurrKucXmTpqy6lHtuTwNh2j128UuO7vxAQeQDQ+v1eG7O5f0ihXb0gIG32eD9gIPv/hAcsfrACWV5xmGkep190a1FsupmNUFtrbpYpkybTyLjJXNplKXKXLJWlC0KLBZIZQZQBjD+d27RC/A7wG8714pKS9UddTVHhp0Tkzq+VMlrq5OP1YqEKWCDMSs1ZZYJcEg77x4en/ilzDBsNteC3HB8EzO12Cpm1VjGUWY1ky1LmK65gp1JmIISVjrKVdQft2jTLgcQ2ZzAe9znNsm1Iy26ZzmVzXcbzeJ5qKuoUAOpTAAAAMlKUhKUpGwSkAbCPRkEfXmI3zhyNj9YAx+bwPkzNDbjfeISzh4BvBww337wBKSWJ3jixOxJgMy0k1RvejOolm1Nxqhtlbc7FNmTaaRcpS5lMpS5S5bqShaFFgskMofEAfSNhXrxS0d6o66mn+GjRSTOr5U1C6uTj9UKhClggzUrNWfjBLgkHfeNF+h+oinjlu8BmWMaqZBiunGaaYW6jt8y152u2LuM6dLWaiUaGcubJ9ioLCUuqYoK6kqcAN08nDXAPaIG84c7DsICuovvvDcBxtEbZm5h6wKXk8sTE77vxDfcHeKA3du8A3O4Ebf0t8S180v0+uGmCtNsCyuxXK7C9TpWSW2oqT7wmUmUlvZz5aekJSWBBYqUX3jT/pv67xed3gN2J8UVbb82xXPMY0S0rxy54nWrrqYWmzVMmXVLUgpAqAaklaUv1J6SkhQBftHm3nxYyb4quqLh4aNEF1dwM1c+r/k/VmeqZMcqmdRqyetyS5feNDDz8oj/j2gAAJcDmL382gW7+cGgJvwI2H4f8llYrq5jtxqGEidVGhmkq6QkT0mUFE9glS0qPoI16S4+neCCxCgogguCNi8c+218trrYa+PfGYn5Tbx95tsd5t89vn2ziYn4xT9S4RrDw/6rU2puE04rKsKv1qlop7lLP2lkbJneoWA5PZXUPJ9nx3ttN1p73Rx19Kbxyi/v1j2vzTvdnq8P3Ge214rLGan/fdPePRrTINDqW85tdM8tupOa49cLxIpqeql2mrpUSVS5CSJYAm061D7SifiZ1Ex7GTpSFYpW4pdtRc2ugq6hFSi4z7omTW0ykdJSJUynlywEgpdlBQJJd9hGdQjMbLQiZmMe931muvfpddW54juZxxxnL9NV0i4rt1q+nva8xjRSyWLJaXL73leT5bd7dLmSrdUX+uROFCFhlmTLly5aEqUNispKm2dto2HCEcujoaehHLpxX37XDr7jV3OUZas3XT3R5RHaPgR+emvuSycr1dyO5UxBkSqoUUopV1BSZCRKKgRyCUFQ+cfXfiC1XptMsJqE0VWE366y109tlp+0gnZc70CAXB/3ukcO3wGoqJLkurcvHwHjfiOGXJscJ6xPNl6dKiP5mfk7P8Aw64Vnh/04lqRUTHLj69bmfnER8wnzihh2/CI4HENmcx187SGdzz8o+jsl8at2zG5i9Zd4d9Fb1cfYSqc1dbYKyZNMuWgIQlzV8BKQAAwj5xb5w5Gx+sFe2yq+oyjIrhkMqw2qypuE9U4W+1SVSqOmf8AuSUKUopQOwKjGR55q/k2oeHYThF6oLZIocBoJ1vtsyllTEzZ0ubMC1GcVLUFKcBukJDdowdh98RvWCG+0AePPvFHwvzEAJ2cvACQQdxF42P4xPQ/URTxy3eC0Djkh49pieQ1WH5VZ8tt9PS1NTZLhT3GRJqkFcmZMkzEzEpmJBBKCUgEAgkE7iPVBvOHOwfYQWIfRF98ZNRlF6rciyLw16IXK6XCcqpq6upx6smTZ01RdSlKNZuTGKYP4jK3DLArGqzR7S7KLeitqK6kRf8AHfeJlGucUlaJc2XMQso+FLBalsAA7AAaibZm5h6wVm2rOruY60ZPKybMZtFLXS0ku30FFQUqaakoKOW/s6eRKT9hCepXLnfcmMJ77vxDfcHeKA3du8A3O4Ed1AWrqd/+1R29RHR6b+u8d1Gf6XIU/wDrE/mID0ltL53OJ/71U/kuM1uv9j136tN/YMYTa/8ATmb+tVP5LjNrr/Y9d+rTf2DBlq6EIQRnGMZBX4nklpyq1FArbNXSLhTFYdPtZMxK0OPLqSI+wsb1d8KWpniOxXVdeE5/Jzq+3y2+2tC10ZsaLnMmy5XvHteozyhKiJgSEJdSRwHj4qjz7Bfbri99t2S2Kq92uVpq5NdRz+hK/ZT5SwuWvpUClTKSCxBBbcGCvr3KdaMD038QviFwPVKx3qvxTUGpmW+tm2UyvfaWZKWpUqZLTNKUKYrVyRwOeIxDLdfdDLL4ev8AIropZc1pa6nyemyKVdr5KpAupmS0h1zPYzCEKSQhKUhKh0oBKnLR89ZfluQZ5k1yzHK7h79eLvUKqqyp9kiV7WarlXRLCUp+QAEengPqrP8AWjwja25NS6p6pYbqXQZbOpZCL1bbEuhNtuM+SgISv20xYnSwpKUpUyXAAbcdR+XrnPoqm5VdTbaE0dHNnzF09MZhmGTLKiUo6zurpDBzuWePGhBH1HpN4vrTp94crxphcLRdJ+YUku4UmKXWRLlmRQU1clAnha1TAsKBCynpQobgbbxiuk2uGm1Lo7fNBNbrFkVZjdbcU3m2XDH1SDW2+rCQkgInFKFIUBu6n3V5gjQ0cVd4K3BIzzQfBdUsHybTOw5j+hsdqferrV3hchVfXr6nHRJlr9jLCRsAFbvudnOLakXyjyjL7jktBLnS6W7z5tfIROSBMTLmzVrSFAEgEBQcAkP3MYBP4jIqz+rW79Rk/kYI8f8Au7cRPUuYjvFD8t6QBxtAO2xi/h++IYB233gG7P5bwd4fSAM3LRG32i8dt4HjfeABu3eH0+6HI+UXjfuNoDiTt5tFbf5wf1EHbt98AHH/AFhxzA8OYHl4Bz2h8zD1bjvByfX5QA78ttHHp24Ecvwgw7/fAceNwfvg7FyPWOXrt/0gwfbaA47txvE4H5CORAHfaIzbN2gHz+kGcbEv6xQH3MXkdudoDizEvsYbntHID0iK333LbCA4/IvFd4EbhPHzgzn1PcQEGx/dFOxaHSW23PlDp22cwEPDdh6w2PnFaIzbN98Bf7u3ET1LmHPaAfy9IA42gHbYxfw/fAwHv8FzrItO8hkZPjNYJNVJBQtCx1Sp8s/alzEv8SSw8iCAQQQCPt3SnxA4TqdTSKM1ku1X5QaZbahbFavOUosJgPkPi2Lhtz8B8/KAJSepLgjuI97wfj+54Ply4fmwnvjP1jyn7p83x/wxtOPY82p+XUjtlHf3THtj+fKX6lwj89cb1+1exST7rbc0rZ0lgkSq0JqgkAbBPtQopAHZJAjLT4v9XhR+7tZDMd/ePcj7RvJuvo/5Y+30vG3D88b1McsZ90T/AH/jrnW/DvimGVaWeGUedzHziv7l9uxq/VfxA4VplTVFGmrlXW/IDS7bTrcoV5zlBxLA8j8RcMO4+Rcl191dyuT7tcs1rZMhlJVKoemlCgQxCjKCSoHyUSI1+eonqU5V39THrOI+N+bGcNjhMT/6y9nuiL/mfg9xwr8OuTONTiWpExH7cb6++ZqflHxe9zrOci1EyGoyfJqv29VOZKEIHTLkyx9mXLT/AHUhz6kkkkkkn0Db/OD+oi7jt98fA6mpnrZzqak3M9ZmXZ2lpYaGnGlpRWMRURHaIQcf9YccxTw5EQhz1RhyG54EPmYbcgcd4OT6/KDVL82iMPIRfwgw7/fAo43B++AIBch+/MB5uP8ApDZ24gUPsPh37xNgPXsIu3ntAeQ8oKfP6RPk7w53JhyO3O0A7l9jAOYAekX1L+UBPkXiu8CNwnj5wP4nygINj+6O6kAFZIB49ql/vjp3bb7o7qT+tSWf/OJ/OA9VaaeSvOJpRPAPvVRsduy4za7UU02eu6ClQ92m8H/hMYDav9OZv61U/kuM4uqlCz1rKI/o03v/AMBgy1n7nU/9kr7oRx9vO/7Q/fCCMhhCEAhCEAhCEAjirvHKOKu8B48/iMjrP6tbf1GT+UY5P4jI6v8Aq9uf/uMn8jAeKeltxA7c7Q37w/GAH6vDv5iG+7/WK3cH5QHHtFfv+EB3/KG/c8QAbhiYccxd/OIWH7toA/4Mdou5D8RC7cloBu/3QAeRP3QYcvvDft2hs+8A38ou+zRBt2h9N4Bv6iGxO8Vh5CI7nygHzMCxi/IvEGx57QAenygPRoM/Jil/L0MBPs7mH7vWAV6xCPMl3eApD9nPG8HPJO3MVojFJYwWrB/DQ5PnF8iDE49PpBHFQL7vFDDsdo5cB2HzjieGf/CCwORuG3ETcq3PlEdz6Q9GgtK5f1MPIGG2w/fAbHfiCjhtx98CTwdom/eH4wFP1Jh39Im+7/WOTdwflAce0H7/AIQHf8ob9zxAXchiYjtzF384hYfu2gK/r5HbzhuQ/EQu3JaKG7/dAQHsSfpBhy5eLv27Q2feAOfKG+0QbdofTeAu/qImxO8Vh5CI7nygHzMUsYfIvEGx57QAenygPRoM/Jil/L0MBPs7mH8cwCvWBHmS7vACH7OeN4rnknbmDRGKSxgA/hocmL5EGHHp9ICF+7wBHlxF4HAh2/jaAm/IbcR20o/pcn0mJ/OOp3PpHbSf1uSG/wBYlvvgPR2r/Tmb+tVP5LjN7r/Y9d+rTf2DGEWr/Tmb+tVP5LjN7r/Y9d+rTf2DBlq6EIQRksIQgEIQgEIQgEcVd45RxV3gPHn8RkdYD7tbm/7jJ/KMcn8RkdXtTW79Rk/lBYeK3k0CA+/4wbfy3hyflBUI5btzH0thOnHg1zLKbJpTb881QqcjyCZT2ykyJNBSSbQLjPATKBpFA1Ps/arTLJKwXcuE/FHzUOI+ncUt2IeECntOoeb0f8oNXK23IumO40pLUePCcl5FbXq5XP6T1opw3TsVFJKVJIxXT3w72lVx1EvusOQ1lnw3SyqXbrxVWmSmbU3Cv9uqTKo6P2jI61qQo9StkjpKgApxhOqY0IV+jZ2in8u5QV7ZNxkZSaNZSQU+zVKmUwSCD8fUFJDMGJj6H0k1HFs8GuoGX12H2jOr/Rai012rZF7kmqpZPvVL7MVlVThSROSV+3SlK3SJi0rY9G2H6823Esz8OmnuvcrBMew3J71eLhZKujx+jFFQ3GmkElNUimBZCkK/m1KTsSrfhIAfNb7uYc88Q37Q+Lygg4cbfdE27jeL33P4Q77+cA9fKPfYHbMRu+X2y357klRj+PTprV9xpqJVXMkSwkn4ZSSCpSiAkeXU5BZo9D832j3eE4ZkeouW2jB8ToFVl3vdUijpJCSzrUeSf7qQHJUdgASdhAbykaS+HDVPCs1rtDL3qFb8lweyzcln0uWCjmU9wt0hSUz/AGaqZIMqYn2iCAoqBcAPupPqdObP4TcrOOYtX47rTXZddlUtDNlWu42pFNOr5hSgiSJskqSgrO3WSQOT3j2ea5pp7oJguSaHaRV38o8nyIC25lmRT0U5p5agV2+3I59iVpZc5X+cYsCko6J4Rqenwuk1F8RtaiUTpjj5/Q3tUqUn9N15VTUSilJHUlJMwkdtlbM4KwbxKYPprptrBesB0rul3uVqsJTRVNTc6iTPmKrUj+kJQqVLlpKUL/m/sv1IV2aNYEbc8cxzqJ8+rnzaurnzJ86etUybMmLKlrWS5UoncknknzjrbyP74Ic8w3HAh68xCw47QHIgdhz2iHg/OI7F/viuQzEwGXaYWzTK5ZJMGreTXiy2Clo5tSo2miFTWVk5IHRTSuohEtS3LTFukNvy42flmk2h2WaNZFq9oPeszpzhFdQ0t/tWV+7TJipNYsy6efTzaZCU/wCcQoKQQSwJcMOvWekmlmQ6xZvSYVjk2np1zpc2qrK6rX0U1BSSk9c6pnL/ALqEJBPqWA3IjYeqeqmnuO6cHw+6FS6upx6ZXIuGSZNXS/Z1WR1kpxK6JX+opZblSJZ+IliWV1FZWd2/w5+HnF7rp9pfqrlOfSs81Ctlvr5dVZ5dGq1WtderpppU1CwZs8gsFqQsDuPT5tz3EqrAc6yPBa+pl1NTjd3rLTOmygQiYunnKlKUAexKCQ/nH3Pl+rknw86y6YaHo0iteaz8Xttpt9LlV3oxMvNUmpQky1WyaGRKlypk1aJaVCYypZS4bqj5I8TGBp0y17zfCUZBU3tNvusxYr6pXXPne2AnD2qv70we06Vq2dQUWDsB2ayLcEwLnf74m/0ij1EED3Y9o4H6RyL9yxjj920GoOGcDfzjZul9v8O6bBW3rWfIc2mV6atNNRWTGKanRNVK6OpVTMqagKlhPU6OgJKnY8EtrLZ+eY2tozo3aM0tN61I1HyObjenmKrlS7ncJEoTausqJjmXQ0cs7LnrAJc/DLHxK22JWfXTwp4/mOcaT02ieV3CfiusKKlVtnX2QgV1sVRrKK5M9MvpRN9n0LKSjpC2YbMo+VRaJeGnVT+VmG6DZNqHUZljlrrLrb5t7l0SrdfkUu82XIRJSmbKUtLql9ZLj7THaMdyTxPZNW6uYTlGjeNIx60acoRQYbYQlVUUSCT7T27HqmzajqV7QggkKYEkdZ3z4Z9XtKL5m2c6j4h4cpGEy7TjF2u+TXxN7qLhIkylylNT00lUtMunXNnFJSkEnplrQkBLsHwU3k0CA+/4wbfy3hyflACOW7cxS42gOIF32fzMBOA4EG5h68iH0MBtXTam8L8nFzcNYblqRVX2bWLlIt+MyqKTKkU6UpKZq51R1+0KipQCQlLdJfZidi3Twg22d4g7TptjubzThV3xuVmxvtbTpRPt9iVJVNUufKcD2qQnoYM5UgkJDgar0k1NlaS1U27XbR/Dc1orpMldIyi2TKhKEyVHrFMoLSlKldbKKkrGyNux+yKjHp+Qa0ZDfaCtr5d+1t0GuddQ2G4VQmVVHXTpKQmhl/Cj+Z6Kc+z2B6Ur2ATAfPt10Z0G1D0qzHPfDzec8/Smn6ZFZdrZlCaNRrLfMX0KqJCqcJCOgupSVFR6Ry7P857dxvH0b4WqWfYdOdfs6uxXIs0jT+px1apiSELuFdUSU06B2KwZatmcdXYGPnPvv5wE9fKADbtt6Q+b7RdyPKAjN5Qd94enaLxsA0BGfhjG79O7P4QamyWGh1Gv2qk7I7qvor12SnoZNFbCqaUJHTNEyZPZPSslDOCwHU6RpFu8bn0I1v8A8ildQIrtDMPy6bOrkXKkq7tbpirogkJTLFJPJUhAC0dSVeyWerqbdmDOLP4OsUp9fb1pHnuudistHZ8iobFToRLXMu12XVqle7inpgClIUJyUrmFRTKU5UFDeNC6n4zQ4VqVluG2qbUTaKw3yvtlNMqFJVNXKkVC5aCspABUQkOwAd2A4j6JzDBpOn//ALRTF7NIv1ddxWZ1jt2VNuE72tbLXV1FNPVKqFMP5xKphH/l6T3aNG6//wD48aj7f/u68f8A3k2AwMgdhz2iHg/ODsX++K5DMTATh32i7HeIPN4bO7l4ANoc7+R2EA/eK78iA9lj9npr3cBR1d6orXJSgzF1FWohISCHCQA6lb7J2duY9rqHitvxG8UlutldOq5U+hk1RnTQElaluXCR9kbDYuR5xi+/0jPdY/7ftTj/APRKP9kwGB+beUT5NFD9y0T7toBwzgb+cd1GoirkHymJ/MR07PzzHdRAmskgNvMSB98B6q01Y/lvNSuSk/0qo3+i4zi6zKNVnruqWU/0abx/5DGAWsEZ1NB/71U/kuM2uoe0Vo86ab+wYMteilpCAetW/pCPMlSgJSAQPsiEEfSmC6JaI5FYc41vyHIcztuk+M10m2W2mRLpVX64Vc1CSJJUxkIKeoEqYhiOGMePn2iekd70PqNedBL7lRt1hucq1ZDZ8o93XVU65rCVOlTadKUKQSpIYh9+QzH32nua6DU2nefeGHMdSayRjFyvEm+4/m8ixT1I96ly0IUJ1ECZyUKCAAzn7T9O0eBmeeaO6ZeHm7aFaU5xUZ5csyutNcr3e/0VPt1LTSacpVKkSpc8CYtXUkEkhufQQVs+/eFDwoY1rLj2hd0zHUteQ5bRU0+iqKddCqlt8ydKJlpqCZIVM6lpVsgBklIJLkjG6HwveH3JbrnekGIZxmdVqTgtmqq6bX1CaVFkr6mlAFRKly0oM5CQtXQCpbu5YsxuoWvOlF88amB6tWvKvb4pZZFoRXXD3GpT7IyEETR7JUsTVMf91Jfs8el0Z1o00xPxL6s6g3/JfdbBk1Bksm1VfudQv3hdXUddOOhCCtHUnf4khv7zQHh6faEaEq8NUjxAar5LmFMU5BOtEy3WRVMV1gCP5tEkTZbS1uSpS1KUOlBAS5BFyfw66TXW0aX6laT5Jk87DM5yiRityo70af8ASVuqlTQFATJSBKUCjrKT0bMCXdhnGGWTTDIvALZ7Pqhms7EqedntSq3XdNvnV0qRVpp1HpmyZP8AOKQqX7VLpBYlJaMdyLWDRjCrDpDovp1llVkVgxHMKbLchyedbZ1JLnT/AGoCkyadafa9KJZXylyyW6i7B7fN/CZoSdYJXhx0xzLNa3PTcz77WV8ulXabbbwgzV+0KUImzJ6ZXQfhAQVK6do9HjmifhL1Qzmv0b02zLUemy3oqJFpu13TRKtVwqpKVFSfZS0CchK+hRSSrgb7sD40/wASeJ4f43r1rtjxmX7FK65zkzFSpK5Uyoop0kS1qQiaEqSocgKAfpbZ3j2eFV3hM0P1Mn63YtrRXZYq1Gpq7BisnGqujnpqJqFJlonVE0CT0SwsglPLAgbMQw3HtBtKLZoVcNWtWLtldLW2jJZ1hqLdaJlM89SAAEI9rLPSoKcqWVEdKSAlyDGCar47jWO3GyKw6suE+y3Wx01xojcAj3lEpapiUpmdACSpkbsAHMZZkur2LZD4Xa/Da68I/lhcc3nX+dQoppwT7GYklSxM6fZt1Ejp6ur0jDNQLxbrtbsJRb6n2poMVo6OpHQpPROSuaSncB9lJ3DjfmAxBvwiO4b98AzMIhAJgi8gvG+5vjp8UM9QmVOoNvnTOlKSubi1oWohIADqNKSWAA38o0IQw/GKGDh4DYmOeIbWLEc5vGo+N5iu333IOv8ASkyVRUwp6sKLkTKUy/dyH3A9mwLkNHrNTdYdSdY7tTXrUjKp94qKKR7tSJMqVIk00p36ZcmSlMuWCeelIdg/EYaYfe0A+hb90GHJgxHeHkYCnzHMTgH8IFvskD5eUCPu7wE38vm0ZDgGf5dpdl9vzzBLsLZfbSqYukq/YSp3syuWqWr4JqVIU6FqG6Ty/LGMfd/mIruA0Bu65+NHxHXe3VdouOaWqbS1siZTT0DFbQgqlrSUqHUmlCg4J3BBHaNbW/UrNrVgN10voL0JOM3utk3Cvok00kmfPlAezUZpT7Vks4SFBL7s8YyzO8NiWbtBTYnZ4dmA4ht2HMA3LcwQcM0GLsAfrAEdxxAl9jtvAPs+sODtx6Q2/jtE8vOAzHS/VvUDRnIKjKNOL6i1XKroZltnTV0VPVBdNMUlS5Zlz5a0MTLTv0vtzuXy/L/Frr3neNXDEcqy221dqucr2VVJl43a6dS0uDtMlU6Vp3ALpUDGoAQQXiOGaA3NjHjE8SOH43Q4pYNTqmTbrXI92ofb2+kqZ9LKZgiVPnSlTkADYBKwwAAYARqGvrq26V9RcrnW1FXWVc1c+oqJ8wzJk6YpXUpa1KcqUSSSSSSS8dI9Im/c87wAs233QOx2PlB9nht6cQHEn8PSI7bBhFI3fz8ojAeX3wbhQO7bRs7TPxK606P47VYhp9ltPb7TWVpuU6mn2ehrUqqTLTLMx6iSsg9CEhgW+8xrBwB++D7flAbZyTxU685VebDf7rnKJVyxirVW2qqt9poaCbTzVJ6VHqppKCtJTsUL6kkEgggkR06i+KDXXVbHVYlnGezauzrnJqJ1FS0FLQyp8xO6VTRTSpftWLEdbsQDyAY1Y/mST84o22faAN+EHcN++IGZhAgEwDkF4u4iEMPxihg4eAnzB84ccQMPvaA2rp54pNd9Ksal4dhGdrpbJInLqJFFVW2jrpUhay6lShUypns3Lk9Lbknkl8auWr+p141DRqzcs3us7L5VQipl3b23TPlrTskJZglIG3QAE9OzNtGIMR3h5GA2Xqd4kda9Y7VT2LUPOJ1yt1NPNUmkk0dNRyVz2I9rMRTy0CYtiWUvqIcsdzGs+AfwgW+yQPl5QI+7vAN/L5tDzZnEV3+Yg7gNANx6tE3fmDM7w2JZu0A2J2eNy4l4w/Edg2OW7E8b1ImSrbZ5IkW9FTa6KqmUksfZRKmz5K5iAAwACgwAAYARprbsOYBuW5gMgpc/zGlzqm1MTkFVOyikucq8yrnUkVE01kuYJqJqvaBQWQtILKBBZiCNo9fkF9u2UX+5ZLfKr3m53ernV9bPMtKPaz5qyuYvpQAlLqUSwAA7AR4AI7jiBL7HbeAn2fWLwduPSJt/HaHl5wF2ff8AOJvu+8AQQXg4ZoBs242EO/JEUekN+553gIWbb7o8+9X263+plVV2q/bzZMiXTy1dCUNLR9lPwgcb78x4D7PDbyHEAf8AD0g7bBhBt3/KDAeX3wFA7ttHdRKIrZDk7TUkt846HAH747aQj3qTv/rEt98B6W2q6s7nH/xVR+S4ze4J6rZVj/w8z9kxg1q/05m/rVT+S4z2pS9urC2wppp/5DBlr5dT0qKQeC0I8BalFaix3JhBHvoQhAIQhAZ1W6wZLXaNW/Q6dQ2wWK23xeQSqhMqZ72qoVKVLKVK6+go6VnYIBdt+0YLCEAjirvHKOKu8B48/iMjrP6tbm59xk/lGOT+IyOs/q1uD/7DJ/KA8Vh3ED5mHbY8xANuNoCwDQbfpd4Eb+jwVCTuIvAfzh67Qfz++CDt3MH7gc+kGP7oPu4JgDg+rxXLFomx2ZoD+GgGz7kQBeDl+z+UH22gDfKBL/Pyhz5/ODQFPD+ccSAB/wBYp9O3rDZjzANx3gd9x+UBts/4wZtyIAC/J9Icb+UCA3zg27iAD0gG9PKAdX7t4c7/AL4AmA25PpB9xDd9xAHL+nMD8WxEPQwftsDARRLF/ueOJHlHPs5ERQSPNz90GolxY8dobgwJcbDbiL89/nBU3MDtxzDhhz8or89ngDDuIh8zF7bHmIBtxtAIoaI2/S7wI39HgISdxF4D+cX12iP5/fAHbuYr9wOfSIx/dFfdwTARwfV4rli0TY7M0B/DQF2fciIC8HL9n8or7bQEb5QJf5+UOfP5waAp4fziEAD/AKwPp29YbMeYBuO8U77j8og22f8AGDNuRAAX5PpF438ohAb5wbdxAUekQN6eUA6v3bw53/fAEwG3J9IPuIbvuIA5f05hzsRD0MH7bAwFJ2/c8Qjyh2cjaGw+cAY8do7aQEVcnfb2ifzjqJcbDbiO6k/rUl/+0SfxEB6K1f6czf1qp/JcZzcZq5VprVILH3ab+wYwa1f6czf1qp/JcZvdf7Hrv1ab+wYMtb/pCo8x90I8aEEZLCEIBCEIBCEIBHFXeEIDx5/EZHWf1e2/qMn8oQgPFUSHb+N4nkYQgCf7vqDHJABS55eEICHn6wAc7whABwIQhAFbLYeX7oHv8oQgKrZLjyiJ+IgEcj90IQEPf6RyQkHkfw8IQEH7yIvJI8oQgIO8UDaEIA2zekcR29f8YQgOSA6mO4BgADzCEBx9e/8AhHJI5hCA4uSOYp7+sIQFAHl3EdZJZvSEILCnt6iIPtCEINB2S/d2gN2fzhCAKJDt/G8PIwhARP8Ad9QY5IAKXPLwhAQ8/WKA53hCAg4EIQgCtlsPL90D3+UIQFVslx5RE/EQCOR+6EIAe/0ioSDyP4eEIAP3kQ5JHlCEBB3igbQhAG2b0iDt6/4whAVAdTHcAwAB5hCAnr3/AMIqRzCEBxckcxyPf1hCAoA8u4jgCW+QhCA5Ht6iOyk/rcn/AOYn8xCEB67HJaF51P60u1VUf/7jNMiloRa60IS39Fm/smEIMtTQhCCP/9k="
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "disappearingMode": {
                  "initiator": 0
                }
              },
              "messageType": "imageMessage",
              "messageTimestamp": 1761227137,
              "instanceId": "8449c842-58d6-4b4a-81a5-beccf4c2c86d",
              "source": "web"
            },
            "destination": "https://webhook.estudoia.site/webhook/receber-mensagem",
            "date_time": "2025-10-23T10:45:37.881Z",
            "sender": "5518997224165@s.whatsapp.net",
            "server_url": "https://evo-test.estudoia.site",
            "apikey": "EC61D77EF490-4309-B445-5BE1977717AB"
          },
          "webhookUrl": "https://webhook.estudoia.site/webhook/receber-mensagem",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-ftsflows-bkp",
  "repo_owner": "thsjn",
  "repo_path": "workflows/transcricao_pronta livre",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-14T23:45:07.593Z",
      "createdAt": "2025-10-14T23:45:07.593Z",
      "role": "workflow:owner",
      "workflowId": "oABCPBrHN84vtQA4",
      "projectId": "f6I5sn2FhHEQN1x0"
    }
  ],
  "staticData": {
    "node:Verifica se tem compromisso na agenda toda manha": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-25T11:26:42.027Z",
  "versionId": "023c1718-07ad-412c-bba1-2911503720db"
}